<div class="container">
  <div class="page-header">
      <h1 class="pull-left">{{merchant.business_name}}</h1>
      <h3 class="pull-right" id="last-polled" style="color: #72a53b; float:right;">
        Last Updated: Now
        </h3>
      <div class="clearfix"></div>
  </div>
  <div class="row">
      {% if not transaction %}
        <h3>Waiting on deposit to <span style="color: #72a53b;">{{current_address.b58_address}}</span> <a href="#">(Cancel)</a></h3>
      {% endif %}
      <div class="col-sm-12">
      <br/>
        <h3><i class="fa fa-map-marker"></i> Transactions</h3>
        {% include "customer_dash/_deposit_dash_table.html" %}
        <hr>
      </div>
    </div>
    <br/>
    {% if shopper %}
        <h4>Shopper Info:</h4>
        <ul>
          <li>Name: {{shopper.name}}</li>
          <li>Phone: {{shopper.phone_num}}</li>
          <li>Email: {{shopper.email}}</li>
        </ul>
    {% else %}

      <form class="form-horizontal" method="post" action="{% url "app.views.customer_dashboard" %}" >
          {% load crispy_forms_tags %}
          {{ form|crispy }}
          {% csrf_token %}
          <div class="button-wrapper">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
          </div>
      </form>
    {% endif %}
  </div>
</div>