<div class="container">
  <div class="page-header">
      <h3 class="pull-left">{{merchant.business_name}}</h3>
      <h3 class="pull-right" id="fiat-amt" style="color: #72a53b; float:right;"><a class="active has-spinner hidden" id="fiat-amt-loader"><span class="spinner"><i class="fa fa-spinner fa-spin"></i></span></a></h3>
      <div class="clearfix"></div>
  </div>

  {% include "customer_dash/_deposit_address_modal.html" %}
  <span id='predeposit' style="text-align: center; margin-top: 50px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <br/>
            <p class="lead text-center"><strong>Get Cash for Your Bitcoin Now</strong></p>
          </div>
        </div>
        <br/>

        <table style="width:100%; table-layout:fixed;">
          <tr>
            <th><div style="float:center; text-align:center; margin:0; color: #81D685; font-size: 52px;"><i class="fa fa-bitcoin"></i></div></th>
            <th><div style="float:center; text-align:center; margin:0; color: #81D685; font-size: 52px;"><i class="fa fa-envelope"></i></div></th>
            <th><div style="float:center; text-align:center; margin:0; color: #81D685; font-size: 52px;"><i class="fa fa-money"></i></div></th>
          </tr>
          <tr>
            <td><p class="lead text-center">1. Send Bitcoin</p></td>
            <td><p class="lead text-center">2. Wait for Confirmation</p></td>
            <td><p class="lead text-center">3. Receive Cash</p></td>
          </tr>
        </table>

        <br /><br />
        <div class="row">
          <span style="margin-left: auto; margin-right: auto; display: block;">
            <a class="btn btn-primary btn-lg has-spinner" id="show-address-button" onclick="getNextAddress();">
              <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span>
              Get Started
            </a>
          </span>
        </div>

      </div>
</div>
