<table class="table table-condensed" style="border-collapse:collapse;">
  <thead>
    <tr>    
      <th>Amount ({{merchant.currency_code}})</th>
      <th>Bitcoin</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% if transactions %}
      {% for transaction in transactions %}
        <tr data-toggle="collapse" data-target="#row-{{transaction.id}}" class="accordion-toggle">
          <!-- <td>
            <i class="fa fa-plus-square-o text-blue" style="font-size: 18px;cursor: pointer;">
            </i>
          </td> -->
          <td>{{transaction.get_fiat_amount_formatted}}</td>
          <td>{{transaction.format_satoshis_amount}}</td>
          <td class="tx-status-{{transaction.id}}" id="txn-status">{{transaction.get_status}}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="5" style="text-align: center;">
          Transaction not yet detected.
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
