<div class="modal fade" id="deposit-address-modal" tabindex="-1" role="dialog" aria-labelledby="sendemailtitle" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="sendemailtitle">Send Bitcoin</h4>
        <div class="clearfix"></div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <h3>1. Deposit to this address: 
            </h3>
            <h3 id="current_address" class="text-center text-green">{{vault.get_current_address.b58_address}}</h3>

              <div id="qr_code_span" style="display:none;">
                <img id="qr_code" style="margin-left: auto; margin-right: auto; display: block;" src="#"/>

                <h3>2. After depositing, click the following button: </h3>
                <a class="btn btn-primary btn-lg" onClick="confirmAddressDeposit();" style="margin-left: auto; margin-right: auto; display: block;">Confirm My Deposit</a>
              </div>
            </span>
          </div>
        </div>
        <br/>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->