{% load i18n %}
<table class="table table-condensed" style="border-collapse:collapse;">
  <thead>
    <tr>    
      <th>{% trans "Amount" %}({{merchant.currency_code}})</th>
      <th>{% trans "Amount" %} (mbtc)</th>
      <th>{% trans "Status" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% if transactions %}
      {% for transaction in transactions %}
        <tr data-toggle="collapse" data-target="#row-{{transaction.id}}" class="accordion-toggle">
          <!-- <td>
            <i class="fa fa-plus-square-o text-blue" style="font-size: 18px;cursor: pointer;">
            </i>
          </td> -->
          <td>{{transaction.get_currency_symbol}}{{transaction.fiat_amount}}</td>
          <td>{{transaction.format_mbtc_amount}} mbtc</td>
          <td class="tx-status-{{transaction.id}}" id="txn-status">{{transaction.get_status}}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="5" style="text-align: center;">
          {% trans "Transaction not yet detected"%}.
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
