{% load i18n %}
<div class="container">
  <div class="page-header">

      <h3 class="pull-left">{{merchant.business_name}}
      </h3>
      <h3 class="pull-right" style="color: #72a53b; float:right;">
        <span id='pricing-info' class="hidden">
          {% trans "BTC Price"%}: <span id="fiat-amt"></span> <span id='currency-code'></span> (<span id='markup'></span>% {% trans "markup"%})
        </span>
        <a class="active has-spinner" id="fiat-amt-loader">
          <span class="spinner">
            <i class="fa fa-spinner fa-spin"></i>
          </span>
        </a>
      </h3>
      <div class="clearfix"></div>
  </div>

  {% include "customer_dash/_deposit_address_modal.html" %}
  {% include "customer_dash/_buy_bitcoin_modal.html" %}
  <span id='predeposit' style="text-align: center; margin-top: 50px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <br/>
            <h2 class="text-center">{% trans "Get Cash for Your Bitcoin Now" %}</h2>
          </div>
        </div>
        <br/>
        <table style="width:100%; table-layout:fixed;">
          <tr>
            <th><div style="float:center; text-align:center; margin:0; color: #81D685; font-size: 52px;"><i class="fa fa-bitcoin"></i></div></th>
            <th><div style="float:center; text-align:center; margin:0; color: #81D685; font-size: 52px;"><i class="fa fa-envelope"></i></div></th>
            <th><div style="float:center; text-align:center; margin:0; color: #81D685; font-size: 52px;"><i class="fa fa-money"></i></div></th>
          </tr>
          <tr>
            <td><p class="lead text-center">
              1. {% trans "Send Bitcoin" %}
               </p></td>
            <td><p class="lead text-center">
              2. {% trans "Wait for Confirmation" %}</p></td>
            <td><p class="lead text-center">
              3. {% trans "Receive Cash" %}
            </p></td>

          </tr>
        </table>

        <br /><br />
        <div class="row">
          {% if merchant.has_valid_coinbase_credentials %}
            <span style="margin-left: auto; margin-right: auto; display: block;">
              <a class="btn btn-primary btn-xl has-spinner" id="show-address-button" onclick="getNextAddress();">
                <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span>
                {% trans "Get Started" %}
              </a>
            </span>
          {% else %}
             <a class="btn btn-primary btn-xl has-spinner" id="show-address-button" onclick="getNextAddress();">
              <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span>
              {% trans "Sell Bitcoin" %}
            </a>
             <a class="btn btn-primary btn-xl has-spinner" id="show-address-button" onclick="buyBitcoinModal();">
              <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span>
              {% trans "Buy Bitcoin" %}
            </a>
          {% endif %}
        </div>
      </div>
</div>
