{% load i18n %}
<tr >
  <td colspan="6" class="hiddenRow" style="padding:0px;border-top:none;">
    <div class="accordian-body collapse panel panel-blue" id="row-{{transaction.id}}" style="width:90%;margin:auto;margin-bottom:10px;">
        <!-- <div class="panel-heading">Panel heading without title</div> -->
        <div class="panel-body">
            <table class="table get-started">
                <tbody>
                    <tr>
                        <td style="text-align: left;">{% trans "Detected At"%}:
                        </td>
                        <td style="text-align: left;">
                        {{transaction.added_at}}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">{% trans "From"%}:
                        
                        </td>
                        <td style="text-align: left;">
                        {{transaction.added_at}}
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
  </td>
</tr>
