{% load i18n %}
<div class="container">
  <div class="page-header">
      <h3 class="pull-left">{{merchant.business_name}}</h3>
      <!-- <h3 class="pull-right" id="last-polled" style="color: #72a53b; float:right;">
        {% trans "Last Updated" %}: <span id='last-polled-time'>0</span> {% trans "seconds ago" %}
        </h3> -->
      <div class="clearfix"></div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <p class="lead text-center text-green">
        {{merchant.get_currency_symbol}}{{buy_request.fiat_amount}} for {{buy_request.format_mbtc_amount}} mbtc to 
        {% if buy_request.b58_address %}
          {{buy_request.b58_address}}
        {% else %}
          {{buy_request.email}}
        {% endif %}
        (<a href="" onclick="cancelBuy();">{% trans "Cancel" %}</a>)
      </p>
      <p class="lead text-center text-red">
        Price expires in <b id="expires-in"></b>
      </p>

      <p class="lead">
        3. Please pay the merchant {{merchant.get_currency_symbol}}{{buy_request.fiat_amount}}
      </p>
      <p class="lead">
        4. After paying the merchant, have them confirm the transaction by entering their password below
      </p>
    
      <form class="form-horizontal" method="post" action="{% url "users.views.customer_dashboard" %}" >
          {% load crispy_forms_tags %}
          {{ password_form|crispy }}
          {% csrf_token %}
          <div class="button-wrapper">
            <button type="submit" class="btn btn-primary btn-lg">{% trans "Submit" %}</button>
          </div>
      </form>
    </div>
  </div>
</div>
