{% load i18n %}
<div class="container">
  <div class="page-header">
      <h3 class="pull-left hl">{{merchant.business_name}}</h3>
      <div class="clearfix"></div>
  </div>

  <div class="modal fade" id="confirm-purchase-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-receipt" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="confirm-receipt">{% trans "Confirm Cash Received" %}</h4>
          <div class="clearfix"></div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">

              <p>
                {% blocktrans with currency_symbol=merchant.get_currency_symbol fiat_amount=buy_request.fiat_amount currency_code=buy_request.currency_code_when_created %}
                  Cashier: please enter your CoinSafe password to confirm you have recieved
                  <b>{{ currency_symbol }}{{fiat_amount}} {{ currency_code }}</b> from the customer.
                {% endblocktrans %}
              </p>

              <form class="form-horizontal" method="post" action="{% url "users.views.customer_dashboard" %}" >
                {% load crispy_forms_tags %}
                {{ password_form|crispy }}
                {% csrf_token %}
                <div class="button-wrapper">
                  <button type="submit" class="btn btn-primary btn-lg">{% trans "Send BTC to Customer" %}</button>
                </div>
              </form>

            </div>
          </div>
          <br/>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">

      <p class="lead text-center text-red">
        {% trans "Price expires in" %}: <b id="expires-in"></b>
        (<a href="" onclick="cancelBuy();">{% trans "Cancel" %}</a>)
      </p>


      <p class="lead text-center text-green">
        {% blocktrans with currency_symbol=merchant.get_currency_symbol fiat_amount=buy_request.fiat_amount format_mbtc_amount=buy_request.format_mbtc_amount b58_address=buy_request.b58_address email=buy_request.email business_name=merchant.business_name currency_code=buy_request.currency_code_when_created %}
          Customer: please pay {{ business_name }} <b>{{currency_symbol}}{{fiat_amount}} {{ currency_code }}</b> to receive <b>{{format_mbtc_amount}} mBTC</b>.
        {% endblocktrans %}
      </p>

      <br />

      <p class="text-center">

        <!-- Button trigger modal -->
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#confirm-purchase-modal">
          {% blocktrans with currency_symbol=merchant.get_currency_symbol fiat_amount=buy_request.fiat_amount %}
            I Have Paid <b>{{currency_symbol}}{{fiat_amount}}</b>
          {% endblocktrans %}
        </button>

      </p>

    </div>
  </div>
</div>
