{% extends "base_email.html" %}

{% block content %}

Oh no, it looks like you got locked out of your account! We'll get you back in a jiffy.<br /><br />

Please click the following link to reset your password:<br />
<a {# double space to avoid appending email string #} href="{{ BASE_URL }}{{ pw_reset_uri }}">{{ BASE_URL }}{{ pw_reset_uri }}</a>
<br /><br />

If you have any questions or feedback on how we can make CoinSafe better for you, please don't hesitate to reply to this email.
{% endblock content %}

{% block ps %}
P.S. Didn't request a password reset? Just ignore this message.
{% endblock ps %}
