<html><body>
Hi {% firstof salutation 'there' %},
<br /><br />
Thanks for trying out CoinSafe.
<br /><br />
I noticed you stopped on the last step of the signup process: linking your bitcoin wallet to CoinSafe.
We need this so that when customers come in to buy bitcoin at {{ store_name }}, our app is able to relay the order to your wallet.
To link your wallet so that you can sell bitcoin to customers, please click this link:<br />
<a href="{{ BASE_URL }}{{ finish_register_uri }}">{{ BASE_URL }}{{ finish_register_uri }}</a>
<br /><br />
We currently support Coinbase, blockchain.info and Bitstamp wallets.
If you don't have a bitcoin wallet, we can automatically create a free blockchain.info wallet for you using the link above.
<br /><br />
Best,
<br /><br />
Michael
<br /><br /><br />
P.S. If you have any feedback on how we can make CoinSafe better for you, please let me know. Thanks!
</body></html>
