BitstampClient==2.0.3
Django==1.6.5
South==0.8.4
Unidecode==0.04.16
boto==2.32.1
dj-database-url==0.3.0
dj-static==0.0.5
django-annoying==0.7.9
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.1
django-fields==0.2.2
django-phonenumber-field==0.5
django-polymorphic==0.5.5
django-storages==1.1.8
django-toolbelt==0.0.1
gnureadline==6.3.3
gunicorn==18.0
ipython==2.1.0
jsonfield==0.9.20
newrelic==2.22.0.19
phonenumbers==6.1.0
plivo==0.9.6
psycopg2==2.5.3
pycrypto==2.6.1
pystache==0.5.4
python-dateutil==2.2
python-postmark==0.4.1
raven==5.0.0
requests==2.3.0
six==1.7.2
sqlparse==0.1.11
static==1.0.2
wsgiref==0.1.2
