{% load i18n %}

<footer style="background-color:#2a3b48;position:absolute;width:100%; text-align:center;">
  <div class="container">
    <div class="row">
      <h1 style="color:white; padding-top:30px;padding-bottom:30px;">
      {% trans "Join The CoinSafe Network"%}
      </h1>
      <a href="{% url 'register_merchant' %}" class="btn btn-primary btn-lg" style="margin-bottom:40px;" >{% trans "Sign Up Today" %}</a>
    </div>
  </div>


  <div class="container" style="text-align:left;">
    <div class="row">
      <div class="col-sm-4">
        <a href="{% url 'help' %}">{% trans "Help" %}</a> <br/>
        <a href="{% url 'jobs' %}">{% trans "Jobs" %}</a> <br/>
        <a href="{% url 'contact' %}">{% trans "Contact" %}</a> <br/>
        <a href="{% url 'press' %}">{% trans "Press" %}</a> <br/>
        <a href="{% url 'blog_index' %}">{% trans "Blog" %}</a> <br/>
        <a href="{% url 'promotional_material' %}">{% trans "Promotional Posters for Merchants" %}</a> <br/>
        <a href="{% url 'view_blog_post' 'cold-storage-guide' %}">{% trans "Cold Storage Guide" %}</a> <br/>
      </div>

      <div class="col-sm-4">
        <br/><br/><br/>

        <div class="content social" style="margin-left:auto; margin-right:auto; width:165px;">
          <ul>
            <li><a href="https://twitter.com/coinsafe"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="http://www.linkedin.com/company/coinsafe"><i class="fa fa-linkedin"></i></a>
            </li>
            <li><a href="https://www.youtube.com/user/CoinSafe"><i class="fa fa-youtube"></i></a>
            </li>
            <li><a href="https://github.com/coinsafe"><i class="fa fa-github"></i></a>
            </li>
            <li><a href="https://plus.google.com/u/0/100816197654027257448/about"><i class="fa fa-google-plus"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <br/><br/>
    © 2014 CoinSafe Inc. <br/>
    <a href="{% url 'privacy' %}">{% trans "Privacy Policy" %}</a> | 
    <a href="{% url 'terms' %}">{% trans "Terms of Service" %}</a> 
  </div>
</footer>
