{% extends "base_email.html" %}

{% block content %}
Your deposit of <b>{{ satoshis_formatted }}</b> has been confirmed by
  {% if confirmed_via_merchant %}
    {{ merchant_name }}!
  {% elif confrimed_via_blocks %}
    the bitcoin blockchain!
  {% else %}
    CoinSafe!
  {% endif %}
<br /><br />

The exchange rate when you sent the bitcoin was <b>{{ exchange_rate_formatted }} / BTC </b> for a total value of <b>{{ fiat_amount_formatted }}</b>.
<br /><br />

{{ merchant_name }} should now give you your <b>{{ fiat_amount_formatted }}</b>.
Please remind them politely if they haven't already noticed that the transaction is complete.
<br /><br />

You can <a href="https://blockchain.info/tx/{{ tx_hash }}">see your transaction on the bitcoin blockchain here</a>.
{% endblock content %}

{% if not confirmed_via_merchant and not confrimed_via_blocks and confirmed_via_confidence %}
  {% block ps %}
    P.S. Wondering how we were able to confirm this transaction so quickly?
    We use the math described in
    <a {# no email appending #} href="http://www.tik.ee.ethz.ch/file/848064fa2e80f88a57aef43d7d5956c6/P2P2013_093.pdf">this academic paper</a>
    to monitor the bitcoin network and predict when your bitcoin transaction has a very high probability of being confirmed.
  {% endblock ps %}
{% endif %}
