{% extends "base_email.html" %}

{% block content %}
You just sent <b>{{ satoshis_formatted }}</b> to {{ merchant_name }}.
Your transaction has been locked in at the current exchange rate of <b>{{ exchange_rate_formatted }} / BTC </b> for a total value of <b>{{ fiat_amount_formatted }}</b>.
<br /><br />

It will take approximately <b>{{ time_range_in_minutes }} minutes</b> for this transaction to receive the neccesary {{ confirmations_needed }} confirmations on the bitcoin blockchain, and then {{ merchant_name }} will give your <b>{{ fiat_amount_formatted }}</b>.
{% if notification_methods_formatted %}We'll notify you by {{ notification_methods_formatted }} once that happens.{% endif %}
You can <a href="https://blockchain.info/tx/{{ tx_hash }}">track the progress of your transaction on the bitcoin blockchain here</a>.

{# Once the transaction is complete, we'll invite you to leave a review for {{ merchant_name }}. #}
{% endblock content %}

{% block ps %}
P.S. If you'd like to know more about how bitcoin transactions work, please check out <a href="http://www.coindesk.com/information/how-do-bitcoin-transactions-work/">CoinDesk's Article on Bitcoin Transactions</a>.
{% endblock ps %}
