{% extends "base_email.html" %}

{% block content %}
Your deposit of <b>{{ satoshis_formatted }}</b> has been confirmed!
<br /><br />

The exchange rate when you sent the bitcoin was <b>{{ exchange_rate_formatted }} / BTC </b> for a total value of <b>{{ fiat_amount_formatted }}</b>.
<br /><br />

{{ merchant_name }} should now give you your <b>{{ fiat_amount_formatted }}</b>.
Please remind them politely if they haven't already noticed that the transaction is complete.
<br /><br />

You can <a href="https://blockchain.info/tx/{{ tx_hash }}">see your transaction on the bitcoin blockchain here</a>.

{% comment %}
When you have some time, here's a link for you to review {{ merchant_name }}:<br />
<a href="{{ BASE_URL }}{{ review_link }}">{{ BASE_URL }}{{ review_link }}</a>
{% endcomment %}
{% endblock content %}