{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="section-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Remove the .animated class if you don't want things to move -->
        <h1 class="animated slideInLeft"><span></span></h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="hl top-50">{% trans "Contact Us" %}</h2>
        <hr>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <!-- Contact us form -->
        <div class="col-sm-8">
          <p class="lead">{% blocktrans %}We are here to help! Please feel free to contact us any time at <a href="mailto:support@coinsafe.com?Subject=CoinSafe%20Support" target="_top">support@coinsafe.com</a>{% endblocktrans %}</p>
            <form class="form-horizontal" method="post" action="{% url "users.views.contact" %}" >
                {% load crispy_forms_tags %}
                {{ form|crispy }}
                {% csrf_token %}
                <div class="button-wrapper">
                  <button type="submit" class="btn btn-primary btn-lg">{% trans "Send Message" %}</button>
                </div>
            </form>
        </div>
        <!-- Right column -->
        <div class="col-sm-4">
          <!-- Out Address -->
          <h4>{% trans "Our Address" %}</h4>
          <hr>
          <p>
            1601 13th Ave<br />
            Seattle, WA 98122<br />
            USA<br />
            <a href="mailto:support@coinsafe.com?Subject=CoinSafe%20Support" target="_top">support@coinsafe.com</a>
          </p>
          <hr>
          <!-- Google Maps -->
          <h4>{% trans "Google Maps" %}</h4>
          <hr>
          <div class="map">
            <iframe width="350" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBTbMUneYNU12f2MxWxtUgydBj3CQWRvak&q=1601+13th+ave,Seattle,WA"></iframe><br /><small><a href="https://www.google.com/maps/embed/v1/place?key=AIzaSyBTbMUneYNU12f2MxWxtUgydBj3CQWRvak&q=1601+13th+ave,Seattle,WA" style="color:#0000FF;text-align:left">{% trans "View Larger Map" %}</a></small>
          </div>
        </div>
      </div>
    </div>


</div>
{% endblock content %}
{% block static_page_footer %}
  {% include "partials/_static_page_footer.html" %}
{% endblock static_page_footer %}