{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{% trans "CoinSafe Contact" %}</h1>
        </div>

        <p>
          {% blocktrans %}We are here to help! Please feel free to contact us any time at <a href="mailto:support@coinsafe.com?Subject=CoinSafe%20Support" target="_top">support@coinsafe.com</a>{% endblocktrans %}
        </p>

        <br /><br />
            <p>We are proudly located in Seattle, WA. Send us a message if you're in town!<p>
      </div>
{% endblock content %}
