{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>CloseCoin Contact</h1>
        </div>

        <p>
          We are here to help!
          Please feel free to contact us any time at
          <a href="mailto:support@coinsafe.com?Subject=CloseCoin%20Support" target="_top">support@closecoin.com</a>
        </p>

        <br /><br />
            <p>We are proudly located in Seattle, WA. Send us a message if you're in town!<p>
      </div>
{% endblock content %}
