{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="section-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Remove the .animated class if you don't want things to move -->
        <h1 class="animated slideInLeft"><span></span></h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!-- Help Center -->
  <div class="row">
    <div class="col-sm-12">
      <h2 class="hl top-50">Frequently Asked Questions</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <!-- FAQs accordion -->
    <div class="col-md-12 col-sm-9">

      <ul>
        <li><a href="#overview">What Does CoinSafe Do?</a></li>
        <li><a href="#how_it_works">How Does CoinSafe Work?</a></li>
        <li><a href="#cold_storage">What Is Cold Storage?</a></li>
        <li><a href="#lost_bitcoin">How Do You Ensure My Bitcoin Is Never Lost?</a></li>
        <li><a href="#stolen_bitcoin">How Do You Ensure My Bitcoin Is Never Stolen?</a></li>
        <li><a href="#safe_servers">I'm A Security Nerd - How Do You Protect Your Servers?</a></li>
        <li><a href="#withdrawal_time">How Long Does It Take to Get My Funds Back?</a></li>
        <li><a href="#deposit_time">How Long Does It Take to Deposit Funds?</a></li>
        <li><a href="#hit_by_bus">What Happens to my Bitcoin if I Get Hit by a Bus?</a></li>
        <li><a href="#cost">How Much Does CoinSafe Cost?</a></li>
        <li><a href="#complicated">Bitcoin Is Complicated, Am I Going to Make One Mistake and Lose All My Bitcoin?</a></li>
        <li><a href="#rogue_employee">What If a Rogue Bank Employee Broke into a Vault?</a></li>
        <li><a href="#vault_location">Where Are Your Bank Vaults?</a></li>
        <li><a href="#forgot_pw">What Happens If I Forget My CoinSafe Password?</a></li>
        <li><a href="#responsible_disclosure">Does CoinSafe Have a Responsible Disclosure Policy?</a></li>
        <li><a href="#insurance">Why Doesn't CoinSafe Offer Insurance?</a></li>
        <li><a href="#hot_wallet">Is it Safe to Store Bitcoin on My Desktop Computer?</a></li>
        <li><a href="#blockchain_info">How is CoinSafe Different from a Hot Wallet Like blockchain.info?</a></li>
        <li><a href="#off_blockchain">How is CoinSafe Different from an Off-Blockchain Wallets like Coinbase and Mt. Gox?</a></li>
        <li><a href="#document_scan">Why Did CoinSafe Ask for a Scan of My Government ID?</a></li>
        <li><a href="#private_info">How does CoinSafe Protect my Personal Information?</a></li>
        <li><a href="#private_keys">How Are My Private Keys Accessed?</a></li>
        <li><a href="#contested_guardian">What Happens if I Designate a Guardian and They Block My Withdrawals?</a></li>
        <li><a href="#third_party">Do I Need to Trust a Service like CoinSafe for Cold Storage?</a></li>
      </ul>
      <br/>

      <h4>If you have additional questions, please don't hesitate to <a href="{% url "users.views.contact" %}">contact us</a>.</h4>
      <hr>

      <div class="panel-group">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="overview">What Does CoinSafe Do?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>We store bitcoin offline in physical bank vaults in three US states to ensure they are never lost or stolen. For the technically minded, it's more accurate to say that we store highly redundant copies of bitcoin private keys on encrypted USB drives that are kept in extremely secure facilities.</p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="how_it_works">How Does CoinSafe Work?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>You begin by creating an account</a>. After registration, you are given your own personal Bitcoin address. This address is entirely on the blockchain and will only be shared with you. It works like any other Bitcoin address - you are free to send any amount to it at anytime, and it will safely remain in deep cold storage for as long as you'd like. Once you are ready to make a withdrawal, you submit a withdrawal request through our site and tell us where you would like the bitcoin sent. After we have verified that the request really came from you, two members of our transaction signing committee will travel to one of our bank locations to sign the transaction with your private keys. The withdrawal transaction is cryptographically signed within the bank vault so that your private key never leaves the premises. Then we take the signed transaction (which cannot be edited) back to the office and broadcast it to the bitcoin network to return your funds to you.</p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="cold_storage">What Is Cold Storage?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>Most bitcoin wallets are considered "hot", meaning that funds can be spent immediately. This is great when you want to use them (i.e. to pay for lunch), but also a great target for thieves.</p>
              <p>Cold storage refers to keeping your bitcoin offline so that it isn't accessible to hackers and malware. Cold storage is a way to give up some convenience (being able to spend all of your money instantly) for added security (not having someone else able to do that). You can read more about cold storage on the official bitcoin wiki <a href="https://en.bitcoin.it/wiki/Cold_storage">here</a>.</p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="lost_bitcoin">How Do You Ensure My Bitcoin Is Never Lost?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>By taking every extreme precaution.</p>
              <p>
                We use bank vaults with encrypted USB drives in three non-neighboring US states.
                Each bank vault has 4 redundant USB drives made by 4 different drive manufacturers with an encrypted copy of all your private keys.
                We store the drives on high shelves in case of flooding, in plastic bags in case the sprinkler system goes off, and inside of Faraday Bags in case of an EMP.
                We cycle in new USB drives periodically as well.
             </p>
             <p>Even if two of our bank vaults were simultaneously vaporized with our entire team inside them, none of our users would lose any bitcoin.</p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="stolen_bitcoin">How Do You Ensure My Bitcoin Is Never Stolen?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>With CoinSafe, no bitcoin private keys ever touch an internet connected machine. 
              Even if an attacker were able to compromise our server, there are never any bitcoin there to steal.</p>
              <p>In order to prevent someone from impersonating you to withdraw your bitcoin, every single withdrawal requires <b>three factor authentication</b> at a minimum:</p>
              <ul>
                <li><b>Login with your username and password</b>: your username is not your email, so you're covered case you were using that password on another site that got hacked</li>
                <li><b>Receive a code via SMS</b>: an attacker would have to compromise your phone as well</li>
                <li><b>Click a link in your email</b>: an attacker would have to compromise your email as well</li>
              </ul>
              <p>In addition, we highly encourage each of our users to add a vault guardian. 
              This is somebody you trust (a friend, family member, lawyer, etc) who must also sign-off on your withdrawals. 
              We're always looking into ways to add even more security to accounts without sacrificing too much on convenience, please contact us</a> if you have any ideas.</p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="safe_servers">I'm A Security Nerd - How Do You Protect Your Servers?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>None of our private keys ever touch the internet (or leave our bank vaults) so there is no way for a hacker to steal your bitcoin. 
              That being said, theoretically a hacker could gain access to our server and attempt to trick us into processing a fraudulent withdrawal request. 
              To protect against this, we have designed a system that we believe is unlike any other (extensive blog post forthcoming!).
              </p>

              <p>
              When a new user registers, all of their data is immediately backed up on a completely separate cluster of severs. 
              These machines are behind a very strict firewall that only accept incoming connections via 2FA ssh and never from the web server. 
              Their job is to continuously "poll" the web server to check for any data discrepancies (e.g. a verification phone number being changed) as well as any unexpected changes in the code base. 
              If anything fishy was ever detected, we would immediately be notified and would halt all trips to the bank vault until our team got to the bottom of it.
              </p>
              <p>
              Above all, we believe we are more secure than anyone else because of the human layer we add. 
              If anything ever feels off, we will not hesitate to pick up the phone and call you directly. 
              Our job is to be overly cautious so you don't have to be!
              </p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="withdrawal_time">How Long Does It Take to Get My Funds Back?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>
                We're really good for security, but not great for speed. 
                If you're looking to daytrade, CoinSafe is not a good choice for you.
              </p>
              <p>
                Your bitcoin private keys are kept on encrypted USB drives in US bank vaults.
                Accessing them requires two members of our transaction signing committee to simultaneously enter their decryption keys into an offline machine inside the bank vault.
                This can take up to 2 business days, though we're usually faster.
              </p>
              <p>
                The best practice in bitcoin security is to keep most of your funds offline in cold storage and then keep only a small ammount in warm/hot wallets and transfer between the two periodically.
                Think of your hot wallet like you checking account and your cold storage like your savings account.
              </p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="deposit_time">How Long Does It Take to Deposit Funds?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>
                You can deposit funds instantly at anytime.
                Once your account is setup, you don't need to ever contact us before a deposit, just make them whenever you like.
              </p>
              <p>
                The way the bitcoin protocol works, a machine doesn't need to be online to accept transactions (that happens automatically by miners and is recorded in the blockchain).
                That means you can deposit anytime and your bitcoin private keys stay safely offline in our bank vaults.
                The only time we need to access the private keys is when we send your bitcoin back to you.
              </p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

         <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="hit_by_bus">What Happens to My Bitcoin If I Get Hit by a Bus?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>Please don't get hit by a bus! The world would be a much worse place without you.</p>
              <p>
                However, in the unlikely event of your death, we make sure that all of your funds are transferred to your estate.
                There's a bit of paperwork involved to make sure that you're really deceased and to confirm who now controls your estate, but it's similar to your bank accounts and other property you own.
              </p>
              <p>We've got you covered. You don't need to worry about your family members remembering some secret password or knowing how to access your bitcoin wallet.</p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="cost">How Much Does CoinSafe Cost?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>
                The first 10 bitcoins you store are 100% free!
                Above that, we charge 1% of the deposit amount per year in bitcoin.
                This amount is annualized based on fractions of a year (e.g. 0.5% for 6 months).
                We don't collect our fee until you withdraw.
              </p>
              <p>
                To clarify, if you store 15 bitcoin for 6 months, we would only charge you for storing 5 bitcoins (the first 10 are always free).
                Since 6 months is half of a year, we'd charge 0.5% for those 5 bitcoins, or 0.025 BTC in total.
                So, we'd send you back 14.975 BTC of your 15 BTC, for an average fee of ~0.167%.
              </p>
              <p>
                Our prices are strictly in Bitcoin and we don't accept government currencies.
                We don't adjust our pricing if the value of a bitcoin (in government currencies) goes up or down.
              </p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="complicated">Bitcoin Is Complicated, Am I Going to Make One Mistake and Lose All My Bitcoin?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>Not with CoinSafe!</p>
              <p>
                Bitcoin is complicated, but we take care of all the hard parts.
                The only way you could lose bitcoin is if you explicitly sent it to someone else.
                We confirm everything repeatedly and there are no gotchas.
                The whole site is designed to be very easy to use, even for beginners. We've got your back!
              </p>
              <p>
                Unsure if you're doing something right? Contact us</a> anytime, we'd love to hear from you.
              </p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="rogue_employee">What If a Rogue Bank Employee Broke into a Vault?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>
                All of our USB drives are encrypted using AES 256 with a CBC cipher (see more in our <a href="/cold-storage-guide/">cold storage guide</a>), which is effectively unbreakable.
                That said, this would still be a security breach and we'd probably move the bitcoin just to be safe.
              </p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="vault_location">Where Are Your Bank Vaults?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>
                Out of an abundance of caution, we don't reveal the exact location of our US bank vaults.
                The only thing we confirm is that we have one in Seattle WA because that is where we're headquartered; the other two are in non-neighboring US states.
                They're all major banks that are used by millions of Americans.
              </p>
              <p>
                Breaking into a bank vault is extremely difficult.
                All of our banks have armed guards, silent alarms, and very thick steel walls.
              </p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="forgot_pw">What Happens If I Forget My CoinSafe Password?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>
                First off, please don't lose your password!
                It's intentionally hard to reset so that someone else can't impersonate you.
              </p>
              <p>
                When you create an account, we require you to not only verify your phone and email, but also provide detailed identity info which we can later use to authenticate you. 
                We scrutinize each request, and use many signals to detect impostors.
              </p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="responsible_disclosure">Does CoinSafe Have a Responsible Disclosure Policy?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>
                Yes we do, please send us any bugs you may find!
                Our program is managed by CrowdCurity, you can see the details <a href="https://www.crowdcurity.com/users/coinsafe-inc/programs/coinsafe_inc">here</a>.
                We support the <b>responsible</b> disclosure of all potential security vulnerabilities and promise not to bring legal action against researchers who do their best to follow the CrowdCurity guidelines.
                </p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="insurance">Why Doesn't CoinSafe Offer Insurance?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>
                We're in talks with major underwriters and trying to be the first ones to offer a capitalized and publicly verifiable insurance plan, but nobody has been able to do this yet :(
              </p>
              <p>
                Some bitcoin companies have engaged in unethical insurance practices like:
              </p>
              <ul>
                <li>Claiming they had insurance that they didn't</li>
                <li>Buying a data breach plan that covers against damages arising from hackers stealing personally identifiable information (PII) like social security numbers and trying to use this for bitcoin. Even worse, the bitcoin is supposed to be kept offline, so it really doesn't apply.</li>
                <li>Self-insuring through their own subsidiary/captive that doesn't have capital to pay losses, while not disclosing any of this info</li>
              </ul>
              <p>
                Do your homework very careful to be sure that any "insurance" you're paying for is real.
                Real insurance plans are always publicly verifiable and have the capital to cover loss events if they occur.
                The underwriter should have enough capital so that in the event of a claim they don't have to decide between paying it and going out of business, or fighting it and staying alive.
                Feel free to contact us if you're considering using a service that claims to offer insurance but doesn't doesn't meet these basic standards and we'd be happy to evaluate it for you.
              </p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="hot_wallet">Is it Safe to Store Bitcoin on My Desktop Computer?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>Here are the main problems associated with storing bitcoin on your personal computer:</p>
              <ul>
                <li><b>Your computer is connected to the internet</b> which is really dangerous. We cannot stress this enough: <b>you should only store an amount of bitcoin you're comfortable losing on internet connected machines</b>.
                <li><b>Your computer may be infected with malware</b>. Over 40% of all personal computers are infected with malware and bitcoin wallets are a prime target. This happens far too often and is very difficult to detect until it is too late.</li>
                <li><b>Everything must be backed up</b> in case of hardware failure. Furthermore, these backups must be properly encrypted and stored in geographically diverse locations to protect against theft, fire, and acts of nature.</li>
                <li><b>There is no room for mistakes</b>. Bitcoin is quite complex, and stories of simple oversights causing catastrophic results are unfortunately too common. The Bitcoin protocol is incredibly secure, but only when everything is done properly.</li>
              </ul>
              <p>It's not a bad idea to keep a small amount of funds on a desktop computer, but probably no more than you would hold in your physical wallet unless you really know what you're doing.</p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="blockchain_info">How is CoinSafe Different from a Hot Wallet Like blockchain.info?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>
                Blockchain.info offers a solid hot wallet that we recommend for storing small amounts of funds.
                The main difference is that with blockchain.info is that the information necessary to spend your bitcoin exists on an internet-connected machines.
                You control a password to unlock those funds, so theoretically your bitcoin is secure.
                There are many instances in which a bug, malicious employee, or socially engineered attack could lead someone to steal your bitcoin from that machine.
              </p>
              <p>To protect your funds, there is no way to reset your password if you forget it or transfer your bitcoin to your estate if you die.</p>
              <p>Also, as a foreign company they're not bound by US laws.</p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="off_blockchain">How is CoinSafe Different from an Off-Blockchain Wallets like Coinbase and Mt. Gox?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>
                Since these companies don't open-source their code and processes, we can only infer how their system works based on the limited info they do share.
                Their basic model is that they hold a lot of bitcoin in many pooled addresses (most of which are offline) and internally they keep track of which users are owed which bitcoin.
                They also engage in a broker-dealer business of buying and selling bitcoin, which they probably make a profit on.
                Like all risk-taking enterprises it has the potential to fail catastrophically.
              </p>
              <p>
                While all transactions in the blockchain are public, Coinbase and Mt. Gox's pooling of funds makes it nearly impossible to measure or audit if they are solvent.
                A hacker (or disgruntled employee) could steal a large percentage of their bitcoin and users wouldn't have any way to know.
                It's possible that they've lost private keys to wallets.
              </p>
              <p>
                We have no idea what losses these off-blockchain services have suffered. As a point of reference, at one point PayPal was losing $10 MM USD <b>per month</b> due to fraud.
              </p>
              <p>To summarize: <b>there is never a valid reason to store bitcoin off the blockchain</b>.</p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="document_scan">Why Did CoinSafe Ask for a Scan of My Government ID?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>
                We are required to check all new users before granting access to the site and unfortunately we are sometimes unable to find a person's information in government databases.
                This can happen because:
              </p>
              <ul>
                <li>Our data provider has imperfect information.</li>
                <li>A person recently moved.</li>
                <li>A person submitted fake info assuming it wouldn't be checked.</li>
              </ul>
              <p>
                Sorry for the hassle, we know it can be a real a pain.
                We don't make the rules but we have to follow them.
              </p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="private_info">How does CoinSafe Protect my Personal Information?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>
                We take your protecting your personal info very seriuosy and gaurd it as if it were our own.
                We encrypt all information while in transit to our servers and store sensitive information encrypted as well.
                Only authorized staff have access, and only for approved tasks.
              </p>
              <p>
                You can see our privacy policy >here</a>, please <a href="{% url "users.views.contact" %}">contact us</a> with any questions.
              </p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="private_keys">How Are My Private Keys Accessed?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>
                Your bitcoin private keys are kept on encrypted USB drives in our US bank vaults.
                In order to sign a transaction with your private key, two members of our transaction signing committee must simultaneously enter their decryption keys into an offline machine inside the bank vault.
                In other words, no single individual has access to your private funds.
              </p>
              <p>
                Because CoinSafe is on the blockchain all customers always know that 100% of their funds have never left their account.
                By using the very same cryptography that secures the Bitcoin protocol, it's like having a vault with an unfakeable one-way camera for all our users to see.
              </p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="contested_guardian">What Happens if I Designate a Guardian and They Block My Withdrawals?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>
                Remember that <a href="#stolen_bitcoin">the primary purpose of the Guardian is to protect your account</a>, so you want to choose someone that you trust.
                However, relationships can sour and we have to plan for the worst.
                Fundamentally, the account belongs to you, so if we can authenticate that you really do want to withdraw the funds then we can remove your Guardian's status.
              </p>
                Authenticating you is harder than it sounds (there are lots of people who would like to impersonate you!) so we go to great lengths to be sure that it's really you trying to remove your Guardian.
                We can use lots of additional signals to authenticate that you're you, depending on the specifics of your case:
              </p>
              <ul>
                <li>
                  <b>Knowledge Based Authentication</b> -
                  We give you a series of questions (e.g. which of the following streets have you lived near in the last 5 years?) that you must answer instantly.
                  We can do this easily because we verified all your info when you created your account.
                </li>
                <li>
                  <b>Login History</b> -
                  We log all activity on the site, so we can tell if you're logging in from the same browsers and IP addresses that you've previously used to access the site.
                </li>
                <li>
                  <b>Secondary Documents Scans</b> -
                  Identification documents, utility bills, bank statements, etc
                </li>
                <li>
                  <b>Licensed US Notary</b> -
                  Notarized documents from a licensed US notary who has verified your identity document in person to confirm it matches what we have on file.
                </li>
              </ul>
              <p>
                No one of these signals is sufficient to restore access to an account, and in a very rare case that is highly contested we may require a valid court order in order to override your guardian's consent.
                Our policy is to always err on the side of caution, meaning that if we can't authenticate an account we will take our time to sort it out.
                During this process, the funds never move and this is always publicly visible on the bitcoin blockchain.
              </p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="anchor" id="third_party">Do I Need to Trust a Service like CoinSafe for Cold Storage?</a>
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <p>Nope! In fact, we even publish a <a href="/cold-storage-guide/">cold storage guide</a> that will walk you through most of the best practices we use as CoinSafe.</p>
              <p>
                Securing your bitcoin is not an easy task and requires technical knowledge, patience, diligence and some specialized equipment.
                We are very proud of the service we provide at CoinSafe.
                If you have feedback for how we could improve, please let us know</a>.
              </p>
            </div>
          </div>
        </div>
        <p style="text-align:right"><a href="#">Back to Top</a></p>

      </div>
      <br />

    </div>
  </div>
</div>
{% endblock content %}
{% block static_page_footer %}
  {% include "partials/_static_page_footer.html" %}
{% endblock static_page_footer %}

