{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br/><br/>
      <h1 class="hl text-center top-zero">{% trans "Bitcoin Posters" %}</h1>
    </div>
  </div>

  <div class="row">
    {% blocktrans %}
    <p>
      We have several posters for you to choose from:
    </p>
    <ul>
      <li>
        <a href="https://s3.amazonaws.com/coinsafe-public/merchant-ads/we_sell_btc.pdf">We Sell Bitcoin</a>
      </li>
      <li>
        <a href="https://s3.amazonaws.com/coinsafe-public/merchant-ads/btc_sold_here.pdf">Bitcoin Sold Here</a>
      </li>
      <li>
        <a href="https://s3.amazonaws.com/coinsafe-public/merchant-ads/we_buy_and_sell_btc_here.pdf">Buy & Sell Bitcoin Here</a>
      </li>
    </ul>
    {% endblocktrans %}

    <p>
      {% blocktrans %}
        Made your own poster? We'd love to see it.
      {% endblocktrans %}
    </p>

  </div>
</div>
{% endblock content %}


