{% extends "base.html" %}
{% block title %}Privacy Policy | CoinSafe{% endblock title %}
{% block content %}
<div class="container">
<br />
<h1>CoinSafe Privacy Policy</h1>
<br />

<p><b>Last Updated February 25, 2014</b></p>

<p>Welcome to the CoinSafe website (the "CoinSafe Site"). CoinSafe
Inc. ("CoinSafe") provides the CoinSafe Site to you subject to your acceptance
of the following Privacy Policy. The CoinSafe Site is offered to you
conditioned on your acceptance without modification of these policies.</p>

<h4>Information We Gather</h4>

<p>Information You Provide: We receive and may store any
information you enter on our Web site or give us in any other way.&nbsp; You
can choose not to provide certain information, but then you might not be able
to take advantage of many of our features. We use the information that you
provide for such purposes as responding to your requests, customizing our
features, and communicating with you.</p>

<p>Cookies: We may receive and store certain types of
information whenever you interact with us. For example, like many Web sites, we
may use &quot;cookies,&quot; and we obtain certain types of information when
your Web browser accesses the CoinSafe Site or advertisements and other content
served by or on behalf of the CoinSafe Site on other Web sites.</p>

<p>E-mail Communications: To help us make e-mails more useful
and interesting, we may receive a confirmation when you open e-mail from the
CoinSafe Site if your computer supports such capabilities. We also compare our
customer list to lists received from other companies, in an effort to avoid
sending unnecessary messages to our customers.</p>

<p>Information from Other Sources: We might receive information
about you from other sources and add it to our account information.</p>

<h4>Sharing of Information</h4>

<p>Information about our customers is an important part of our
business, and we are not in the business of selling it to others. We share
customer information only as described below and with affiliates that either
are subject to this Privacy Notice or follow practices at least as protective
as those described in this Privacy Notice.</p>

<p>Third-Party Service Providers: We may employ other companies
and individuals to perform service functions on our behalf. They have access to
personal information needed to perform their functions, but may not use it for
other purposes.</p>

<p>Protection of the CoinSafe Site and Others: We release
account and other personal information when we believe release is appropriate
to comply with the law; enforce or apply our other agreements; or protect the
rights, property, or safety of The CoinSafe Site, our users, or others. This may
include exchanging information with other companies and organizations for fraud
protection and risk reduction.</p>

<p>With Your Consent: Other than as set out above, you will
receive notice when information about you might go to third parties, and you
will have an opportunity to choose not to share the information.</p>

<h4>California Online Privacy Protection Act</h4>

<p>Because we value your privacy we have taken the necessary
precautions to be in compliance with the California Online Privacy Protection
Act. We therefore will not distribute your personal information to outside
parties without your consent as set forth in this document.</p>

<h4>Children's Online Privacy Protection Act</h4>

<p>We are in compliance with the requirements of COPPA
(Children's Online Privacy Protection Act), we do not collect any information
from anyone under 13 years of age. Our website, products and services are all
directed to people who are at least 18 years old or older.</p>

<h4>Online Privacy Policy Only</h4>

<p>This online privacy policy applies only to information
collected through our website and not to information collected offline.</p>

<h4>Terms of Use</h4>

<p>Please also visit our Terms of Use section establishing the
use, disclaimers, and limitations of liability governing the use of our
website.</p>

<h4>Customer Agreement</h4>

<p>We may also collect information from our customers in
connection with any Customer Agreement which may be applicable to that customer.</p>

</div>
{% endblock content %}

