{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Our Team" %}{% endblock title %}

{% block content %}
<div class="section-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Remove the .animated class if you don't want things to move -->
        <h1 class="animated slideInLeft"><span></span></h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="hl top-50">{% trans "Team" %}</h2>
        <hr>
      </div>
    </div>
      <div class="col-sm-10 col-sm-offset-1">
      <p class="lead text-center">
        <!-- TOO WORDY? -->
        {% trans "We are a team of crypto-currency enthusiasts who believe that a network of decentralized bitcoin exchanges will change how money flows around the world" %}.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="team">
        <div class="member-left">
          <img src="{%static "img/michael.jpg" %}" alt="Michael Flaxman" class="left" />
          <h4><a href="http://www.linkedin.com/in/flaxman" target="_blank">Michael Flaxman</a></h4>
          <p class="position">CEO</p>
          <p>
            {% trans 'Michael has built two venture funded companies (<a href="http://www.thumbtack.com" target="_blank">thumbtack.com</a> and <a href="http://priceonomics.com" target="_blank">priceonomics.com</a>) that have each raised money from top VCs like Sequoia, Andreesen Horowitz, and Spark Capital. Michael graduated from Brown University with a degree in Economics.' %}
          </p>
        </div>
        <div class="member-right">
          <img src="{%static "img/tom.jpg" %}" alt="Tom Chokel" class="right" />

          <h4><a href="http://www.linkedin.com/pub/tom-chokel/8/58b/722" target="_blank">Tom Chokel</a></h4>

          <p class="position">CTO</p>
          <p>
            {% trans 'Tom is a former Google Engineer who worked on the AdWords fraud team. He left Google to build Semply, a company focused on building advertising tools for small businesses, which was later acquired by <a href="https://www.adstage.io/" target="_blank">AdStage</a>. Tom graduated from Georgetown University with degrees in Computer Science and Economics' %}.
          </p>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-10 col-sm-offset-1">
    <p class="lead text-center">
      {% url 'jobs' as jobs_url %}
      {% blocktrans %}
        Interested in joining a scrappy, funded startup in the Bitcoin space?
        Check out <a href="{{jobs_url}}">our jobs page</a> to find out more.
      {% endblocktrans %}
    </p>
  </div>
</div>

{% endblock content %}
{% block static_page_footer %}
  <br/><br/><br/><br/>
  {% include "partials/_static_page_footer.html" %}
{% endblock static_page_footer %}
