{% extends "base_email.html" %}

{% block content %}

Thanks for signing up with CoinSafe! We are very excited to have you as part of our network.<br /><br />

Please don't forget to <a href="{{ BASE_URL }}{{ profile_url }}">complete your business profile</a> by updating your location information. Adding an address will help new customers find your store.
<br /><br />

We also wanted to provide some handy promotional materials to use in your store. Check out our <a href="{{ BASE_URL }}{{ promotional_material }}">posters page</a> to download PDF versions of all our designs.

If you have any questions or feedback on how we can make CoinSafe better for you, please don't hesitate to reply to this email.
{% endblock content %}