{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Blog" %}{% endblock title %}

{% block content %}
<div class="section-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Remove the .animated class if you don't want things to move -->
        <h1 class="animated slideInLeft"><span></span></h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="hl top-50"><a href="{% url "blog_index" %}">The CoinSafe Blog</a></h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 blog-summary-list">
      {% for post in posts %}
        <div class="blog-summary">
          {% if forloop.first %}
            <h3 class="new-story"><a href="{{ post.get_uri }}">{{post.title|safe}}</a></h3>
          {% else %}
            <h3><a href="{{ post.get_uri }}">{{post.title|safe}}</a></h3>
          {% endif %}
          <ul class="text-muted list-inline" style="margin:0;">
            <!-- <li><i class="fa fa-user"></i> <a href="profile.html">Administrator</a></li> -->
            <li><i class="fa fa-calendar"></i> {{post.posted_at}}</li>
          </ul>
          <hr>
          <p class="blog-text">
            {{post.get_truncated_preview|safe}}
          </p>
          {% ifnotequal post.get_truncated_preview post.body %}
            <p>
              <i>
                ...<a href="{{ post.get_uri }}">Read the full blog post here</a>.
              </i>
            </p>
          {% endifnotequal %}
        </div>
        {% if post.category %}
          <p class="tags">
            <a href="{{post.category.get_uri}}">{{post.category}}</a>
          </p>
          <br/>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Recently Added</h3>
        </div>
        <div class="panel-body">
          <div class="recent-blogs">
            <ul> 
              {% for post in posts %}
                <li><a href="{{ post.get_uri }}">{{post.title|safe}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% if categories %}
        <br/>
        <!-- Tags -->
        <h3 class="hl">Categories</h3>
        <hr>
        <p class="tags">
          {% for category in categories %}
            <a href="{{category.get_uri}}">{{category}}</a>
          {% endfor %}
        </p>
        <br />
      {% endif %}
    </div>


  </div>
</div>
</div>

{% endblock content %}

{% block static_page_footer %}
  {% include "partials/_static_page_footer.html" %}
{% endblock static_page_footer %}

