{% extends "base_email.html" %}

{% block content %}
A deposit of <b>{{ satoshis_formatted }}</b> {% if shopper_name %}from {{ shopper_name }}{% endif %} has been confirmed.
The exchange rate when the bitcoin was sent was {{ exchange_rate_formatted }} / BTC for a total value of <b>{{ fiat_amount_formatted }}</b>.
Please pay {% firstof shopper_name 'the customer' %} immediately.
<br /><br />

You can <a href="https://blockchain.info/tx/{{ tx_hash }}">see this transaction on the bitcoin blockchain here</a>, as well as in <a href="{{ BASE_URL }}">in your dashboard on CloseCoin</a>.
{% endblock content %}

{% block ps %}
P.S. If you'd like to know more about how bitcoin transactions work, please check out <a href="http://www.coindesk.com/information/how-do-bitcoin-transactions-work/">CoinDesk's Article on Bitcoin Transactions</a>.
{% endblock ps %}
