{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %}
{% block title %}{% trans "5xx Server Error" %}{% endblock title %}

{% block content %}
<div class="wrapper">
  <div class="not-found">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="digits">
            5<i class="fa fa-meh-o animated flipInX" id="smile"></i><i class="fa fa-meh-o animated flipInX" id="smile"></i>
          </div>
          <h1>{% trans "Oops, there was an error." %}</h1>
          <br />
          <h4 style="text-align:center">
            {% url "contact" as contact_url %}
            {% blocktrans %}
              If this keeps happening, please <a href="{{ contact_url }}">contact us</a> so we can fix it.
              Sorry about that!
            {% endblocktrans %}
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
