<div class="modal fade" id="play-video-modal" tabindex="-1" role="dialog" aria-labelledby="cashinmodal" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="cashinmodal">

        </h4>
        <div class="clearfix"></div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
          <iframe width="560" height="315" class="youtube-player" type="text/html" src="https://www.youtube.com/embed/1-EUC9rN2JQ?enablejsapi=1" style="max-width:100%;"></iframe>
          </div>
        </div>
        <br/>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->