{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>CoinSafe</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/sticky-footer.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-formhelpers.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/elements.css" %}"/>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CoinSafe</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul> -->
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right ">
            {% if user.is_authenticated %}
              <li class="navbar-nav navbar-right"><a href="{% url "logout" %}">Sign Out</a></li>
            {% else %}
              <li class="navbar-nav navbar-right"><a href="{% url "login_request" %}">Sign In</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      <div class="page-tip">
        <div class="container">
          <div class="row">
            <div class="col-sm-12" id="messages">
              {% for message in messages %}
                <div class=
                  {% if 'warning' in message.tags %}
                    "alert alert-danger"
                  {% elif 'success' in message.tags %}
                    "alert alert-success"
                  {% else %}
                    "alert alert-info"
                  {% endif %}
                >
                {# http://stackoverflow.com/a/10124845 #}
                {% if 'safe' in message.tags %}
                  {{ message|safe }}
                {% else %}
                  {{ message }}
                {% endif %}

                <a class="close" data-dismiss="alert">×</a>
                </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
    <!-- Begin page content -->
      {% block content %}{% endblock content %}
    </div>

    {% if user.is_authenticated %}
      <div id="footer" style="background-color:white;">
        <div class="container">

          <ul class="nav nav-tabs">
            {% if on_admin_page %}
              <li style="width:50%;">
                <a href="{% url "customer_dashboard" %}" style="text-align: center;font-size: 24px;">Customers</a>
              </li>
              <li class="active" style="width:50%">
                <a href="{% url "merchant_settings" %}" style="text-align: center;font-size: 24px;">Admin</a>
              </li>
            {% else %}
            <li class="active" style="width:50%;">
              <a href="#" style="text-align: center;font-size: 24px;">Customers</a>
            </li>
            <li style="width:50%">
              <a href="{% url "merchant_settings" %}" style="text-align: center;font-size: 24px;">Admin</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endif %}
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
    <script src="{% static "js/bootstrap-formhelpers.js" %}"></script><!-- http://vincentlamanna.com/BootstrapFormHelpers/phone/#jquery-plugins -->
    <script src="{% static "js/custom.js" %}"></script>
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
