{% extends "base.html" %}
{% block title %}Blog | CoinSafe{% endblock title %}
<!-- {% block meta_content %}How to store your bitcoin the proper way. We walk you through the safest and most secure methods for putting your bitcoin in cold storage.{% endblock meta_content %} -->
{% block content %}
<div class="section-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Remove the .animated class if you don't want things to move -->
        <h1 class="animated slideInLeft"><span></span></h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="hl top-50"><a href="{% url "blog_index" %}">The CoinSafe Blog</a></h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 blog-summary-list">
      {% for post in posts %}
        <div class="blog-summary">
          {% if forloop.first %}
            <h4 class="new-story"><a href="{{ post.get_absolute_url }}">{{post.title|safe}}</a></h4>
          {% else %}
            <h4><a href="{{ post.get_absolute_url }}">{{post.title|safe}}</a></h4>
          {% endif %}
          <ul class="text-muted list-inline" style="margin:0;">
            <!-- <li><i class="fa fa-user"></i> <a href="profile.html">Administrator</a></li> -->
            <li><i class="fa fa-calendar"></i> {{post.posted_at}}</li>
          </ul>
          <hr>
          <p class="blog-text">
            {{post.body|safe}}
          </p>
        </div>
        {% if post.category %}
          <p class="tags">
            <a href="{{post.category.get_absolute_url}}">{{post.category}}</a>
          </p>
          <br/>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Recently Added</h3>
        </div>
        <div class="panel-body">
          <div class="recent-blogs">
            <ul> 
              {% for post in posts %}
                <li><a href="{{ post.get_absolute_url }}">{{post.title|safe}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% if categories %}
        <br/>
        <!-- Tags -->
        <h3 class="hl">Categories</h3>
        <hr>
        <p class="tags">
          {% for category in categories %}
            <a href="{{category.get_absolute_url}}">{{category}}</a>
          {% endfor %}
        </p>
        <br />
      {% endif %}
    </div>


  </div>
</div>
  

  <!-- <div class="row">
    <div class="col-sm-8">
      <h1>The Ultimate Bitcoin Cold Storage Guide</h1>
      <hr>
        {% block main_section %}{% endblock main_section %}
    </div>

    <div class="col-sm-4">
      <h3 class="hl">Share</h3>
      <hr>
      <div class="social-icons social-icons-default">

        <div class="fb-like" data-href="https://www.coinsafe.com/cold-storage-guide/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <br />

        <a href="https://twitter.com/share" class="twitter-share-button" data-via="coinsafe">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <br />
        <br />

        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>

      </div>
    </div>

  </div> -->
</div>

{% endblock content %}
{% block static_page_footer %}
  {% include "partials/_static_page_footer.html" %}
{% endblock static_page_footer %}

