{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Settings</h1>
        </div>

        <ul>
            <li>Business Name: {{business.business_name}}</li>
            <li>Address 1: {{business.address_1}}</li>
            <li>Address 2: {{business.address_2}}</li>
            <li>City: {{business.city}}</li>
            <li>Country: {{business.country}}</li>
            <li>Zip Code: {{business.zip_code}}</li>
            <li>Phone Number: {{business.phone_num}}</li>
        </ul>

        <hr>
        <br/>
        <h4 class="hl"><i class="fa fa-map-marker"></i> Transactions</h4>
          <table class="table table-condensed" style="border-collapse:collapse;">
            <thead>
              <tr>
                <th></th>
                <th>Date</th>
                <th>Amount (btc)</th>
                <th>Amount (fiat)</th>
                <th>Confirmations</th>
              </tr>
            </thead>
          <tbody>
            {% if transactions %}
              {% for transaction in transactions %}
                <tr data-toggle="collapse" data-target="#row-{{transaction.id}}" class="accordion-toggle">
                  <td>
                    <i class="fa fa-plus-square-o text-blue" style="font-size: 18px;cursor: pointer;">
                    </i>
                  </td>
                  <td>{{transaction.added_at}}</td>
                  <td>{{transaction.satoshis}}</td>
                  <td>{{transaction.fiat_amount}}</td>
                  <td>{{transaction.conf_num}}</td>
                  
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="5" style="text-align: center;">
                  You have no transactions yet.
                </td>
              </tr>
            {% endif %}
          </tbody>
          </table>

    </div>
{% endblock content %}