{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Settings</h1>
        </div>

        <div class="row">
      <!-- Profile Menu -->
    <div class="col-sm-4 col-md-3">
      <div class="user-menu bottom-15">
        <ul>
          <li>
            <a href="#" class="active">
            <i class="sign fa fa-gears bg-green"></i>Settings <i class="fa fa-chevron-right pull-right"></i>
            </a>  
          </li>
          <li>
            <a href="{% url "business.views.business_profile" %}">
            <i class="sign fa fa-users bg-blue"></i>Profile <i class="fa fa-chevron-right pull-right"></i>
          </a>  
          </li>
          <li>
            <a href="{% url "business.views.transactions" %}">
            <i class="sign fa fa-sign-out bg-amethyst"></i> Transactions <i class="fa fa-chevron-right pull-right"></i>
          </a>  
          </li>
        </ul>
      </div>

  </div>
  <div class="col-sm-8 col-md-9">

      <!-- <div class="row">
        <div class="col-sm-12">
          <h4 class="hl">
            <a style="color:#515151;" href="#">Business Info</a>
            <a href="#" onclick="editBusinessInfo();" id="business-info-edit-button"><i class="fa fa-pencil-square-o"></i></a>
          </h4>
          <table id="business-info-list" class="table">
            <tbody>
              <tr>
                <td class="text-muted">Business Name</td>
                <td align="right">{{business.business_name}}</td>
              </tr>
              <tr>
                <td class="text-muted">Adress Line 1</td>
                <td align="right">{{business.address_1}}</td>
              </tr>
              <tr>
                <td class="text-muted">Address Line 2</td>
                <td align="right">{{business.address_2}}</td>
              </tr>
              <tr>
                <td class="text-muted">City</td>
                <td align="right">{{business.city}}</td>
              </tr>
              <tr>
                <td class="text-muted">State</td>
                <td align="right">{{business.state}}</td>
              </tr>
              <tr>
                <td class="text-muted">Country</td>
                <td align="right">{{business.country}}</td>
              </tr>
              <tr>
                <td class="text-muted">Zip Code</td>
                <td align="right">{{business.zip_code}}</td>
              </tr>
              <tr>
                <td class="text-muted">Phone Number</td>
                <td align="right">{{business.phone_num}}</td>
              </tr>
            </tbody>
          </table>
          <span class="hidden" id="business-info-edit">
            <form class="form-horizontal" method="post" action="{% url "business.views.edit_business_info" %}" >
              {% load crispy_forms_tags %}
              {{ business_form|crispy }}
              {% csrf_token %}
              <div class="button-wrapper">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </form>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h4 class="hl">
            <a style="color:#515151;" href="#">Personal Info</a>
            <a href="#" onclick="editPersonalInfo();" id="personal-info-edit-button"><i class="fa fa-pencil-square-o"></i></a>
          </h4>
          <table id="personal-info-list" class="table">
            <tbody>
              <tr>
                <td class="text-muted">Name</td>
                <td align="right">{{user.full_name}}</td>
              </tr>
              <tr>
                <td class="text-muted">Email</td>
                <td align="right">{{user.email}}</td>
              </tr>
              <tr>
                <td class="text-muted">Phone Number</td>
                <td align="right">{{user.phone_num}}</td>
              </tr>
            </tbody>
          </table>
          <span class="hidden" id="personal-info-edit">
            
            <form class="form-horizontal" method="post" action="{% url "business.views.edit_personal_info" %}" >
              {% load crispy_forms_tags %}
              {{ personal_form|crispy }}
              {% csrf_token %}
              <div class="button-wrapper">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </form>
          </span>
        </div>
      </div> -->

      <div class="row">
        <div class="col-sm-12">
          <h4 class="hl">
            <a style="color:#515151;" href="#">Bitcoin Settings</a>
            <a href="#" onclick="editBitcoinInfo();" id="bitcoin-info-edit-button"><i class="fa fa-pencil-square-o"></i></a>
          </h4>

          <table id="bitcoin-info-list" class="table">
            <tbody>
              <tr>
                <td class="text-muted">Currency</td>
                <td align="right">{{business.get_currency_name}}</td>
              </tr>
              <tr>
                <td class="text-muted">Percent Markup</td>
                <td align="right">{{business.get_percent_markup}}%</td>
              </tr>
              <tr>
                <td class="text-muted">BTC Storage Address:</td>
                <td align="right">{{business.btc_storage_address}}</td>
              </tr>
            </tbody>
          </table>
          <span class="hidden" id="bitcoin-info-edit">
            
            <form class="form-horizontal" method="post" action="{% url "business.views.edit_bitcoin_info" %}" >
              {% load crispy_forms_tags %}
              {{ personal_form|crispy }}
              {% csrf_token %}
              <div class="button-wrapper">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </form>
          </span>
        </div>
      </div>
    </div>
    </div>
    </div>
{% endblock content %}
{% block extra_js %}
  <script>
    function editBitcoinInfo() {
        $("#bitcoin-info-list").toggleClass("show hidden");
        $("#bitcoin-info-edit").toggleClass("show hidden");
        var edit_button = $("#bitcoin-info-edit-button");
        if (edit_button.text()=="Edit"){
          edit_button.text("Cancel");
        }else{
          edit_button.text("Edit");
        }
    }
  </script>
{% endblock %}