{% extends "base.html" %}
{% load i18n %}
{% load app_extras %}
{% load staticfiles %}

{% block title %}{% trans "Your Free Bitcoin ATM App" %}{% endblock title %}

{% block content %}

{# Showcase section #}
<div id="wrap" class="container-fluid bg-dark-blue" style="position:relative;">

  <div id="mapWrap"></div>

  <div class="container text-center">
    <div class="foreground">

      <h1 class="tagline">{% trans "Turn Your Phone Into a Bitcoin ATM" %}</h1>
      <h4>Tagline tag line Tagline tag line Tagline tag line Tagline tag line Tagline tag line</h4>
      
      {% include "_play_video_modal.html" %}
  
      <!-- <p>
        <span class="video-play-btn" onclick="$('#play-video-modal').modal();">{% trans "Watch Video" %}</span>
      </p> -->
    
      <p class="sign-up-box">
        <a href="{% url 'register_merchant' %}" class="btn btn-primary btn-lg">{% trans "Sign Up For Free" %}</a>
      </p>
    </div>
  </div>

</div>


{# What is CoinSafe section #}
<div class="container-fluid bg-light-tan home-section what-is-coinsafe">

  <div class="container">
    <h3 class="section-title">{% trans "What is CoinSafe?" %}</h3>
  </div>

  <div class="container">
    <div class="row" style="padding:30px 0;">
      <div class="col-md-6">
        <p><img class="img-responsive" src="{% static "img/videoscrn.jpg" %}" alt="Generic placeholder image" style="margin:0 auto;cursor:pointer;" onclick="$('#play-video-modal').modal();"></p>
      </div>
      <div class="col-md-6">
          <h2 style="margin-top:70px;">{% trans "Overall General What is" %}</h2>
          <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}</p>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row" style="padding:30px 0;">
      <div class="col-md-6">
          <h2>{% trans "For Merchants" %}</h2>
          <p>{% trans "Our easy to use software makes it easy to turn your store into the neighborhood bitcoin trading post" %}</p>
          <ul class="feature-list">
            <li>{% trans "Set your own prices and earn money buying and selling bitcoin with you customers" %}</li>
            <li>{% trans "Drive new customers into your store" %}</li>
            <li>{% trans "Simple, secure, and easy to use - you don't need to understand bitcoin to use our app" %}</li>
          </ul>
      </div>
      <div class="col-md-6">
        <p><img class="img-responsive" src="{% static "img/devices.png" %}" alt="Generic placeholder image" style="margin:0 auto;"></p>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row" style="padding:30px 0;">
      <div class="col-md-6">
        <p><img class="img-responsive" src="{% static "img/videoscrn.jpg" %}" alt="Generic placeholder image" style="margin:0 auto;"></p>
      </div>
      <div class="col-md-6">
        <h2>{% trans "For Customers" %}</h2>
        <p>{% trans "Find a CoinSafe location near you to buy or sell bitcoin" %}</p>
        <ul class="feature-list">
          <li>{% trans "Simple and fast - exchanging bitcoin is as easy as buying your morning coffee" %}</li>
          <li>{% trans "Buy with cash, sell for cash - get access to bitcoin without needing a bank account" %}</li>
          <li>{% trans "Stores you can trust - dealing with an established business means no more meeting withs sketchy strangers" %}</li>
        </ul>
      </div>
    </div>
  </div>

</div>


{# Map section #}
<div class="container-fluid home-section">
  <div class="container">
    <h3 class="section-title">{% trans "Find a Merchant Near You" %}</h3>
 
    <div id="map_wrapper" style="height: 350px;margin-bottom:36px;">
        <div id="map_canvas" class="mapping" style="width: 100%; height: 100%;"></div>
    </div>

    <p class="text-center lead">
      {% trans "Can't find a seller in your area?" %}
      <a href="{% url 'register_customer' %}" class="btn btn-primary btn-lg">{% trans "Sign Up For Free" %}</a>
    </p>

  </div>
</div>


{# Press section #}
<div class="container-fluid home-section bg-light-tan">
  <div class="container">
  
    <div class="row">
      <div class="col-md-4 text-center">
        <a href="{% url 'press' %}">
          <img src="{%static "img/press_logos/techcrunch_homepage.png" %}" class="press-logo">
        </a>
      </div>
      <div class="col-md-4 text-center">
        <a href="{% url 'press' %}">
         <img src="{%static "img/press_logos/wsj_homepage.png" %}" class="press-logo">
        </a>
      </div>
      <div class="col-md-4 text-center">
        <a href="{% url 'press' %}">
          <img src="{%static "img/press_logos/coindesk_homepage.png" %}" class="press-logo" style="margin-top:30px;">
        </a>
      </div>
    </div>

    <hr>

    <div class="testimonials">
      <p class="text-center quote">
        <q>{% trans "Now every physical store in the world can become a Bitcoin ATM with no new hardware" %}</q>
      </p>
      <p class="lead text-right">
        <span class="quote-credit">-Erik Voorhees,</span><br> 
        Serial entrepreneur and Bitcoin advocate
      </p>
    </div>

  </div>
</div>

{% endblock content %}
{% block static_page_footer %}
  {% include "partials/_static_page_footer.html" %}
{% endblock static_page_footer %}
{% block extra_js %}
  <script>
    function toggleVideo(state) {
        // if state == 'hide', hide. Else: show video
        var div = document.getElementById("play-video-modal");
        var iframe = div.getElementsByTagName("iframe")[0].contentWindow;
        // div.style.display = state == 'hide' ? 'none' : '';
        func = state == 'hide' ? 'pauseVideo' : 'playVideo';
        iframe.postMessage('{"event":"command","func":"' + func + '","args":""}', '*');
    }

    function initializeMap() {
        var map;
        var bounds = new google.maps.LatLngBounds();
        var mapOptions = {
            mapTypeId: 'roadmap',
            scrollwheel: false
        };
                        
        // Display a map on the page
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        map.setTilt(45);
        var markers = [];
        var infoWindowContent = [];
        var i =0;
        {% for merchant in merchants_for_map %}
          markers[i] = [ '{{ merchant.business_name }}', {{ merchant.latitude_position }}, {{ merchant.longitude_position }} ];
          {% if merchant.get_profile_url %}
            var tooltip_info = '<p class="lead text-center"><a href="{{merchant.get_profile_url}}">{{ merchant.business_name }}</a></p><b>';
          {% else %}
            var tooltip_info = '<p class="lead text-center">{{ merchant.business_name }}</p><b>';
          {% endif %}
          tooltip_info += '{{merchant.get_local_address_html | remove_quotes | safe }}';
          tooltip_info += '<br/>';
          {% if merchant.get_profile_url %}
            tooltip_info += '<a href="{{merchant.get_profile_url}}">Profile Link</a>'
          {% endif %}

          infoWindowContent[i] = [ tooltip_info ];
          i = i + 1;
        {% endfor %}
                            
        // Display multiple markers on a map
        var infoWindow = new google.maps.InfoWindow(), marker, i;
        
        // Loop through our array of markers & place each one on the map  
        for( i = 0; i < markers.length; i++ ) {
            var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
            bounds.extend(position);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: markers[i][0]
            });
            
            // Allow each marker to have an info window    
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infoWindow.setContent(infoWindowContent[i][0]);
                    infoWindow.open(map, marker);
                }
            })(marker, i));

            // Automatically center the map fitting all markers on the screen
            map.fitBounds(bounds);
        }

        // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
        var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
            // this.setZoom(14);
            google.maps.event.removeListener(boundsListener);
        });
        
    }

    $(document).ready(function(){
      // If not mobile, web video is incredibly broken
      if(!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        $('#play-video-modal').on('shown.bs.modal', function() {
            toggleVideo();
        })
        $('#play-video-modal').on('hidden.bs.modal', function() {
            toggleVideo('hide');
        })
      }
      
      var script = document.createElement('script');
      script.src = "https://maps.googleapis.com/maps/api/js?sensor=false&callback=initializeMap";
      document.body.appendChild(script);
    });

  </script>

  <script src="{% static "js/dotmap.js" %}"></script>
{% endblock %}
