{% extends "base.html" %}
{% load i18n %}
{% load app_extras %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{% trans "Welcome to CloseCoin" %}</h1>
        </div>


        <h3>{% trans "For Merchants" %}</h3>
        <p>
          {% blocktrans %}CloseCoin makes it easy for owners of any store to <b>buy bitcoin for cash</b>. Some of our happiest customers are money changers, restaurants, hostels, convenience stores, and gas stations. It works great anywhere there is a cash register, an internet connection, and a desire to buy bitcoin at the best prices. It's kind of like an ATM, only instead of using expensive hardware, we use a simple app and the cash register that's already in your store.
          {% endblocktrans %}
        </p>

        <p>{% trans "Benefits"%}:</p>
        <ul>
          <li>
            <b>{% trans "Set Your Own Prices"%}</b>.
            {% blocktrans %}Since your business has regular hours and pays out in cash, you get rewarded with better prices. It's a much better experience than messaging someone back and forth to meetup at a coffee shop or in a dark alley.{% endblocktrans %}
          </li>
          <li>
            <b>{% trans "Get Your Money to a Safer Location"%}</b>.
            {% blocktrans %}Every time your cashier reaches into the cash register to pay a customer for their bitcoin, money leaves the premises. The address that recieves the bitcoin can be kept anywhere you like: in your safe, at your home, or even in another country. Moving cash into bitcoins can minimize theft and reduce robberies.{% endblocktrans %}
          </li>
          <li>
            <b>{% trans "Sell or Spend Your Bitcoin Immediately"%}</b>.
            {% blocktrans %}As soon as you recieve the bitcoin it's yours to sell or spend however you like. If you don't want to hold bitcoin, you can set your prices so that you're able to sell it right away for a profit.{% endblocktrans %}
          </li>
          <li>
            <b>{% trans "Very Easy to Use"%}</b>.
            {% blocktrans %}Your employees can buy bitcoin for you without having to know anything about bitcoin. You set the price and the app notifies your cashier/employee when it's safe to pay out cash to the customer. Our mobile-optimized website requires only an internet connection and works on any smartphone, tablet, or desktop computer. No training needed.{% endblocktrans %}
          </li>
          <li>

            <b>{% trans "Get New Customers"%}</b>.
            {% trans "Customers who come to your business and recieve cash for their bitcoin are likely to stick around and spend some of that money"%}.

          </li>
          <li>
            <b>{% trans "You Control Your Private Keys"%}</b>.
            {% trans "Securely buy and sell bitcoin without trusting us or anyone else"%}.
          </li>
          <li>
            <b>{% trans "Works Anywhere In the World"%}</b>.
            {% trans "From Argentina to Australia, CloseCoin works everywhere in the world with the currency of your choice.
            More languages coming soon!"%}
          </li>
          <li>
            <b>{% trans "Free during our Beta and cheap after"%}</b>.
            {% trans "There's no lock-in or contract and you can leave at any time. Remember, you are always in full control of your private keys"%}.
          </li>
        </ul>

        <br />
        <span style="text-align: center;">
          <a href="{% url 'register_merchant' %}" class="btn btn-primary btn-lg">{% trans "List Your Business on CloseCoin for Free"%}</a>
        </span>
        <br />

        <hr />

        <h3>{% trans "For Customers"%}</h3>

        <p>
          {% trans "CloseCoin makes it easy to find someone close by to give you cash for your bitcoin. You can check their price, hours and location in advance, no messaging back and forth. Just show up with your bitcoin wallet app and recieve cash for your bitcoin. CloseCoin is great for converting your remmitance into cash, or for travellers in foreign countries who need local currency"%}.
        </p>

        <p>
          {% blocktrans %}During our private beta, CloseCoin is only available from select merchants. <a href="https://docs.google.com/forms/d/1h7Z996Y5vIHE-uOc03vxnFa6jN-vRNF_CFW4e89MdTk/viewform?usp=send_form">Sign up to be notified when CloseCoin merchants are available in your city.</a>{% endblocktrans %}
        </p>

    </div>
{% endblock content %}
