{% extends "base.html" %}
{% load i18n %}
{% load app_extras %}
{% load staticfiles %}
{% block content %}
    <!-- <div class="container"> -->
<div id="wrap" style="position:relative;">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <h1 class="tagline">{% trans "Turn Your Phone Into a Bitcoin ATM" %}</h1>
      </div>
      <!-- <div style="margin-left:auto;margin-right:auto;display:block;">
        <iframe src="http://www.youtube.com/embed/1-EUC9rN2JQ?rel=0;3&amp;autohide=1&amp;showinfo=0&amp;wmode=transparent" wmode=”transparent” frameborder="0" width="635" height="353"></iframe>
      </div> -->
      <div class="col-sm-4 col-sm-offset-3 sign-up-box">
        <a href="{% url 'register_merchant' %}" class="btn btn-primary btn-lg" style="padding-right: 5px;padding-left:5px;width: 100%;">{% trans "List Your Business for Free" %}</a>
      </div>
      {% include "_play_video_modal.html" %}
      <!-- <div style="position: relative;">
        
      </div> -->
      <!-- <a href="http://goanimate.com/videos/0AychMi_cn2M?utm_source=embed&uid=0d6CgLDRlzx4" target="_blank">CoinSafe.com</a> by <a href="http://goanimate.com/user/0d6CgLDRlzx4" target="_blank">tjchokel</a> on <a href='http://goanimate.com?utm_source=embed' target="_blank">GoAnimate</a><br/> -->


      <!-- <iframe scrolling="no" allowTransparency="true" frameborder="0" width="400" height="225" src="http://goanimate.com/player/embed/0AychMi_cn2M?autoplay=1"></iframe> -->
      <!-- <div class="sign-up-box" id="sign-up-box" style="width:24%; position:relative;left:70%">

        <a href="{% url 'register_merchant' %}" class="btn btn-primary btn-lg" style="padding-right: 5px;padding-left:5px;width: 100%;">List Your Business for Free</a>
      </div> -->
    </div>
  </div>
  <a style="cursor: pointer;position:absolute;
   top:50%;
   left:50%;
   margin-top:-18px;
   margin-left:-104px;" onclick="$('#play-video-modal').modal();">
          <img src="{%static "img/play-button.png" %}"/>
        </a>
</div>
<div class="divider-bar">
  <div class="container">
    <h3 class="green-color" style="text-align:center;">{% trans "Become The Neighborhood Bitcoin Trading Post" %}</h3>
    <p class="lead text-center">
      {% blocktrans %}
        CoinSafe makes it easy for merchants around the world to buy and sell bitcoin at their store locations.
        With our easy to use mobile software and exchange partnerships, you can make money and attract new customers to your local business.
      {% endblocktrans%}
    </p>
  </div>
</div>
<div class="container">
    <div class="row" style="margin-top: -30px;">

      <div class="col-lg-7 col-md-7">
            <h2>{% trans "Businesses" %}</h2>
            <p style="padding-left:15px; font-size: 16px; padding-top:8px;">
              <i class="fa fa-circle green-color" style="padding-top:8px;"></i><b>{% trans "Set Your Own Prices" %}</b><br/>
              {% trans "Select a percent markup on market prices and know that you will make money on all transactions." %}
              <br/>
              <i class="fa fa-circle green-color" style="padding-top:8px;"></i><b>{% trans "Attract New Customers" %}</b><br/>
              {% trans "Prime placement on the CoinSafe map will send more foot traffic into your store." %}
              <br/>
              <i class="fa fa-circle green-color" style="padding-top:8px;"></i><b>{% trans "Sell or Spend Your Bitcoin Immediately" %}</b><br/>
              {% trans "If you don't want to hold bitcoin, you can set your prices so that you're able to sell it right away for a profit." %}
              <br/>
              <i class="fa fa-circle green-color" style="padding-top:8px;"></i><b>{% trans "Get Your Money to a Safer Location" %}</b><br/>
              {% trans "Moving cash into bitcoins can minimize theft and reduce robberies." %}
              <br/>
              <i class="fa fa-circle green-color" style="padding-top:8px;"></i><b>{% trans "Simple to Use" %}</b><br/>
              {% trans "Mobile-optimized and user friendly, CoinSafe is designed so that even an employee with no Bitcoin knowledge can operate it." %}  <br/>
              <i class="fa fa-circle green-color" style="padding-top:8px;"></i><b>{% trans "Works Anywhere In the World" %}</b><br/>
              {% trans "From Argentina to Australia, CoinSafe works everywhere in the world with the currency of your choice. More languages coming soon!" %}
              <br/>
            </p>
            <a class="btn btn-primary btn-lg" href="{% url 'register_merchant' %}" role="button" style="margin-left: 15px;">{% trans "List Your Business Today" %}</a>

      </div>
      <div class="col-lg-4 col-lg-offset-1 col-md-5 hidden-sm hidden-xs">
        </span>
        <img src="{%static "img/shop.png" %}" style="margin-top: 30%;" width="90%" height="90%" />
      </div>
    </div>
    <hr>
    <div class="row">

      <div class="col-lg-7 col-md-7">
            <h2>{% trans "Consumers" %}</h2>
            <p style="padding-left:15px; font-size: 16px; padding-top:8px;">
              <i class="fa fa-circle green-color" style="padding-top:8px;"></i><b>{% trans "Bitcoin <-> Cash" %}</b><br/>
              {% trans "Dealing in cash means you don't need a bank account and there are no long waiting periods. Exchange bitcoin and local currency in minutes!" %}
              <br/>
              <i class="fa fa-circle green-color" style="padding-top:8px;"></i><b>{% trans "Transparent Pricing" %}</b><br/>
              {% trans "Businesses publish their prices online so you can shop around for the best rate. There are never any surprises when you get to the store." %}
              <br/>
              <i class="fa fa-circle green-color" style="padding-top:8px;"></i><b>{% trans "No Messaging With Strangers" %}</b><br/>
              {% trans "Businesses list their hours and location, so there is no need to arrange meetings with people you don't know." %}
              <br/>
              <i class="fa fa-circle green-color" style="padding-top:8px;"></i><b>{% trans "Businesses You Can Trust" %}</b><br/>
              {% trans "Each business is rated by their users to ensure that the continue to provide the best service." %}
              <br/>
            </p>
            <p>
              <a class="btn btn-primary btn-lg" href="{% url 'register_customer' %}" role="button" style="margin-left: 15px;white-space: normal !important;max-width: 300px;">
                {% trans "Get Notified of Nearby Locations" %}
              </a>
            </p>

      </div>
      <div class="col-lg-4 col-lg-offset-1 col-md-5 hidden-sm hidden-xs">
        <img src="{%static "img/money.png" %}" style="margin-top: 5%;" width="90%" height="90%" />
      </div>
    </div>
</div>
{% endblock content %}
{% block static_page_footer %}
  {% include "partials/_static_page_footer.html" %}
{% endblock static_page_footer %}
{% block extra_js %}
  <script>
    function toggleVideo(state) {
        // if state == 'hide', hide. Else: show video
        var div = document.getElementById("play-video-modal");
        var iframe = div.getElementsByTagName("iframe")[0].contentWindow;
        // div.style.display = state == 'hide' ? 'none' : '';
        func = state == 'hide' ? 'pauseVideo' : 'playVideo';
        iframe.postMessage('{"event":"command","func":"' + func + '","args":""}', '*');
    }

    $(document).ready(function(){
      // If not mobile, web video is incredibly broken
      if(!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        $('#play-video-modal').on('shown.bs.modal', function() {
            toggleVideo();
        })
        $('#play-video-modal').on('hidden.bs.modal', function() {
            toggleVideo('hide');
        })
      }
    });

  </script>
{% endblock %}
