{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Sign In</h1>
        </div>

        <form class="form-horizontal" method="post" action="{% url "merchants.views.login_request" %}" >
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            {% csrf_token %}
            <div class="button-wrapper">
              <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
            </div>
        </form>
        <br />

        <h3>
          To create a new account, please <a href="{% url "merchants.views.register_account" %}">click here</a>.
        </h3>

        <hr>
    </div>
{% endblock content %}
