{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Sign In</h1>
        </div>

        <form class="form-horizontal" method="post" action="{% url "merchants.views.login_request" %}" >
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            {% csrf_token %}
            <div class="button-wrapper">
              <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
            </div>
        </form>

        <hr>
          <a href="{% url 'register_merchant' %}" class="btn btn-primary btn-lg">Or Sign Up</a>
        </hr>


    </div>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#id_email').focus()
    });
  </script>

{% endblock %}
