{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{% trans "Sign In" %}</h1>
        </div>

        <form class="form-horizontal" method="post" action="{% url "merchants.views.login_request" %}" >
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            {% csrf_token %}
            <div class="button-wrapper">
              <button type="submit" class="btn btn-primary btn-lg">{% trans "Sign In" %}</button>
            </div>
        </form>
        <br />
        
        <h3>
        {% url 'merchants.views.register_merchant' as register_url %}
        {% blocktrans %}To create a new account, please <a href="{{ register_url }}"> click here</a>.{% endblocktrans %}
        </h3>

        <hr />
    </div>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#id_email').focus()
    });
  </script>

{% endblock %}
