{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{% trans "Admin" %}</h1>
        </div>

        <div class="row">
      <!-- Profile Menu -->
    <div class="col-sm-4 col-md-3">
      <div class="user-menu bottom-15">
        <ul>
          <li>
            <a href="{% url "merchants.views.merchant_settings" %}">
            <i class="sign fa fa-gears bg-green"></i>{% trans "Settings" %} <i class="fa fa-chevron-right pull-right"></i>
            </a>  
          </li>
          <li>
            <a href="#" class="active">
            <i class="sign fa fa-user bg-blue"></i>{% trans "Profile" %} <i class="fa fa-chevron-right pull-right"></i>
          </a>  
          </li>
          <li>
            <a href="{% url "merchants.views.transactions" %}">
            <i class="sign fa fa-bitcoin bg-amethyst"></i> {% trans "Transactions" %} <i class="fa fa-chevron-right pull-right"></i>
          </a>  
          </li>
        </ul>
      </div>
      {% include "merchants/_registration_status_bar.html" %}
  </div>
  <div class="col-sm-8 col-md-9">

      <div class="row">
        <div class="col-sm-12">
          <h4 class="hl">
            <a style="color:#515151;" href="#">{% trans "Business Info" %}</a>
            <a href="#" onclick="editMerchantInfo();" id="merchant-info-edit-button" style="float:right;">{% trans "Edit" %} <i class="fa fa-pencil-square-o"></i></a>
          </h4>
          <table id="merchant-info-list" class="table">
            <tbody>
              <tr>
                <td class="text-muted">{% trans "Business Name" %}</td>
                <td align="right">{{merchant.business_name}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Address Line 1" %}</td>
                <td align="right">{{merchant.address_1}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Address Line 2" %}</td>
                <td align="right">{{merchant.address_2}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "City" %}</td>
                <td align="right">{{merchant.city}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "State" %}</td>
                <td align="right">{{merchant.state}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Country" %}</td>
                <td align="right">{{merchant.country}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Zip Code" %}</td>
                <td align="right">{{merchant.zip_code}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Phone Number" %}</td>
                <td align="right">{{merchant.phone_num}}</td>
              </tr>
            </tbody>
          </table>
          <span class="hidden" id="merchant-info-edit">
            <form class="form-horizontal" method="post" action="{% url "merchants.views.edit_merchant_info" %}" >
              {% load crispy_forms_tags %}
              {{ merchant_form|crispy }}
              {% csrf_token %}
              <div class="button-wrapper">
                <button type="submit" class="btn btn-primary btn-lg">{% trans "Submit" %}</button>
              </div>
            </form>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h4 class="hl">
            <a style="color:#515151;" href="#">{% trans "Personal Info" %}</a>
            <a href="#" onclick="editPersonalInfo();" id="personal-info-edit-button" style="float:right;">{% trans "Edit" %} <i class="fa fa-pencil-square-o"></i></a>
          </h4>
          <table id="personal-info-list" class="table">
            <tbody>
              <tr>
                <td class="text-muted">{% trans "Name" %}</td>
                <td align="right">{{user.full_name}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Email" %}</td>
                <td align="right">{{user.email}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Phone Number" %}</td>
                <td align="right">{{user.phone_num}}</td>
              </tr>
            </tbody>
          </table>
          <span class="hidden" id="personal-info-edit">
            
            <form class="form-horizontal" method="post" action="{% url "merchants.views.edit_personal_info" %}" >
              {% load crispy_forms_tags %}
              {{ personal_form|crispy }}
              {% csrf_token %}
              <div class="button-wrapper">
                <button type="submit" class="btn btn-primary btn-lg">{% trans "Submit" %}</button>
              </div>
            </form>
          </span>
        </div>
      </div>
    </div>
    </div>
    </div>
{% endblock content %}
{% block extra_js %}
  <script>
    function editPersonalInfo() {
        $("#personal-info-list").toggleClass("show hidden");
        $("#personal-info-edit").toggleClass("show hidden");
        var edit_button = $("#personal-info-edit-button");
        if (edit_button.text().replace(" ", "")=="Edit"){
          edit_button.text("Cancel");
        }else{
          edit_button.html('Edit <i class="fa fa-pencil-square-o"></i>');
        }        
    }

    function editMerchantInfo() {
        $("#merchant-info-list").toggleClass("show hidden");
        $("#merchant-info-edit").toggleClass("show hidden");
        var edit_button = $("#merchant-info-edit-button");
        if (edit_button.text().replace(" ", "")=="Edit"){
          edit_button.text("Cancel");
        }else{
          edit_button.html('Edit <i class="fa fa-pencil-square-o"></i>');
        }
    }
  </script>
{% endblock %}
