{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Register Personal</h1>
        </div>

        <form class="form-horizontal" method="post" action="{% url "business.views.register_personal" %}" >
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            {% csrf_token %}
            <div class="button-wrapper">
              <button type="submit" class="btn btn-primary btn-lg">Create Account</button>
            </div>
        </form>
    </div>
{% endblock content %}