{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Register Account</h1>
        </div>
        <div class="row">
            {% with current_step=0 registration_step=user.get_registration_step %}
                {% include "breadcrumb.html" %}
            {% endwith %}
        </div>
        <form class="form-horizontal" method="post" action="{% url "business.views.register_account" %}" >
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            {% csrf_token %}
            <div class="button-wrapper">
              <button type="submit" class="btn btn-primary btn-lg">Next</button>
            </div>
        </form>
    </div>
{% endblock content %}