{% load i18n %}
<div class="modal fade" id="add-funds-modal" tabindex="-1" role="dialog" aria-labelledby="credential_delete_modal" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="credential_delete_modal">
          {% blocktrans with credential_name=credential.get_credential_to_display %}
            Add funds to {{ credential_name }} Wallet
          {% endblocktrans %}
        </h4>
        <div class="clearfix"></div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <p class="lead text-center">
              {% blocktrans %}
                To top of your wallet, send funds to this address:
              {% endblocktrans %}
              <span class="text-green">
                {{merchant.get_destination_address.b58_address}}
                  <img id="qr_code" style="margin-left: auto; margin-right: auto; display: block;" src="//chart.googleapis.com/chart?cht=qr&chl=bitcoin%3A{{merchant.get_destination_address.b58_address}}&choe=UTF-8&chs=275x275"/>
              </span>
              {% trans "Or visit" %}
              <a href="{{ credential.get_login_link }}" target="_blank">{{ credential.get_credential_to_display }}</a>
            </p>
          </div>
        </div>
        <br/>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
