{% load i18n %}
<div class="modal fade" id="delete-credentials-modal" tabindex="-1" role="dialog" aria-labelledby="sendemailtitle" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="sendemailtitle">{% trans "Delete Coinbase Credentials" %}</h4>
        <div class="clearfix"></div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <p class="lead text-center">{% trans "Are you sure you want to remove your Coinbase API Credentials?" %} 
            
            </p>
            <span class="text-center" style="margin-left:auto; margin-right;auto;display:block;">
              <a class="btn btn-primary btn-lg" data-dismiss="modal">{% trans "No" %}</a>
              
              <a class="btn btn-primary btn-lg" onClick="disableCredentials();">{% trans "Yes" %}</a>
            </span>

          </div>
        </div>
        <br/>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->