<hr/>
<p style="margin-top:50px;">Registration Status</p>
<div class="progress">
    {%if merchant.finished_registration %}
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{merchant.get_registration_percent_complete}}" aria-valuemin="0" aria-valuemax="100" style="width: {{merchant.get_registration_percent_complete}}%;">
            {{merchant.get_registration_percent_complete}}% Complete
        </div>
    {% else %}

        <div class="progress-bar" role="progressbar" aria-valuenow="{{merchant.get_registration_percent_complete}}" aria-valuemin="0" aria-valuemax="100" style="width: {{merchant.get_registration_percent_complete}}%;">
          {{merchant.get_registration_percent_complete}}% Complete
        </div>
    {% endif %}
</div>
{% if not merchant.address_1 %}
  Next step: <a href="{% url "merchants.views.merchant_profile" %}">List your business address</a>
{% elif not merchant.phone_num %}
  Next step: <a href="{% url "merchants.views.merchant_profile" %}">List your business phone number</a>
{% endif %}
