{% load staticfiles %}
{% load i18n %}
<div class="container">
  <div class="page-header">

    {% if tcp__request_path != '/password/' %}
      {% if not tcp__has_cred %}
        <div id="no-wallet" class="alert alert-danger nofadeout hidden-xs" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>
          {% url 'base_creds' as wallet_url %}
          <strong>{% trans "No Linked Bitcoin Wallet!" %}</strong>
          {% if tcp__request_path == '/wallet/' %}
            {% blocktrans %}
              Please add API credentials so you can sell bitcoin to customers.
            {% endblocktrans %}
          {% else %}
            {% blocktrans %}
              Please <a href="{{ wallet_url }}">add API credentials</a> so you can sell bitcoin to customers.
            {% endblocktrans %}
          {% endif %}
        </div>
      {% elif not tcp__cred_appears_usable %}
        <div id="no-wallet" class="alert alert-danger nofadeout hidden-xs" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>
          {% url 'base_creds' as wallet_url %}
          <strong>{% trans "Invalid API Credentials!" %}</strong>
          {% if tcp__request_path == '/wallet/' %}
            {% blocktrans %}
              Please update your API credentials so you can sell bitcoin to customers.
            {% endblocktrans %}
          {% else %}
            {% blocktrans %}
              Please <a href="{{ wallet_url }}">update your API credentials</a> so you can sell bitcoin to customers.
            {% endblocktrans %}
          {% endif %}
        </div>
      {% elif not tcp__cred_appears_funded and tcp__request_path == '/wallet/' %}
        <div id="no-wallet" class="alert alert-warning nofadeout hidden-sm hidden-xs" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>
          {% blocktrans %}
            <strong>No BTC in Your Wallet.</strong>
            Please <a onclick="getTopOffAddress();" style="cursor:pointer;">add funds</a> to your wallet so you can sell bitcoin to customers.
          {% endblocktrans %}
        </div>
      {% endif %}
    {% endif %}

    <h3 class="pull-left hl">{% trans "Admin" %}</h3>

    <h3 class="pull-right hidden-md hidden-lg">
      <div class="btn-group">
        {% if current_tab == 'transactions' %}
          <button data-toggle="dropdown" class="btn dropdown-toggle" style="color:white;">{% trans 'Transactions' %} <span class="caret"></span></button>
        {% endif %}
        {% if current_tab == 'settings' %}
          <button data-toggle="dropdown" class="btn dropdown-toggle" style="color:white;">{% trans 'Settings' %} <span class="caret"></span></button>
        {% endif %}
        {% if current_tab == 'credentials' %}
          <button data-toggle="dropdown" class="btn dropdown-toggle" style="color:white;">{% trans 'Bitcoin Wallet' %} <span class="caret"></span></button>
        {% endif %}
        {% if current_tab == 'profile' %}
          <button data-toggle="dropdown" class="btn dropdown-toggle" style="color:white;">{% trans 'Profile' %} <span class="caret"></span></button>
        {% endif %}
        <ul class="dropdown-menu">
            <li><a href="{% url "merchants.views.merchant_transactions" %}">Transactions</a></li>
            <li><a href="{% url "merchants.views.merchant_settings" %}">Settings</a></li>
            <li><a href="{% url "credentials.views.base_creds" %}">Bitcoin Wallet</a></li>
            <li><a href="{% url "merchants.views.merchant_profile" %}">Profile</a></li>
          </ul>
      </div>

    </h3>
  <div class="clearfix"></div>
</div>

<div class="row">
  <div class="col-sm-4 col-md-3 hidden-sm hidden-xs">
    <div class="user-menu bottom-15">
      <ul>
        <li>
          {% if current_tab == 'profile' %}
            <a href="#" class="active"><i class="sign fa fa-user bg-blue"></i>{% trans "Profile" %}</a>
          {% else %}
            <a href="{% url "merchants.views.merchant_profile" %}"><i class="sign fa fa-user bg-blue"></i>{% trans "Profile" %}</a>
          {% endif %}
        </li>
        <li>
          {% if current_tab == 'transactions' %}
            <a href="#" class="active"><i class="sign fa fa-list bg-amethyst"></i>{% trans "Transactions" %}</a>
          {% else %}
            <a href="{% url "merchants.views.merchant_transactions" %}"><i class="sign fa fa-list bg-amethyst"></i>{% trans "Transactions" %}</a>
          {% endif %}
        </li>
        <li>
          {% if current_tab == 'credentials' %}
            <a href="#" class="active"><i class="sign fa fa-bitcoin bg-red"></i>{% trans "Bitcoin Wallet" %} 
              {% if not tcp__cred_appears_usable or not tcp__cred_appears_funded %}
                <i
                  class="fa fa-exclamation-circle pull-right {% if not tcp__cred_appears_usable %}text-red{% else %}text-yellow{% endif %}"
                  style="margin-top: 13px; margin-left:0; padding-right: 0px;"
                ></i>
              {% endif %}
            </a>
          {% else %}
            <a href="{% url "credentials.views.base_creds" %}"><i class="sign fa fa-bitcoin bg-red"></i>{% trans "Bitcoin Wallet" %}
              {% if not tcp__cred_appears_usable or not tcp__cred_appears_funded %}
                <i
                  class="fa fa-exclamation-circle pull-right {% if not tcp__cred_appears_usable %}text-red{% else %}text-yellow{% endif %}"
                  style="margin-top: 13px; margin-left:0; padding-right: 0px;"
                ></i>
              {% endif %}
            </a>

          {% endif %}
        </li>
        <li>
          {% if current_tab == 'settings' or current_tab == 'change_pw' %}
            <a href="#" class="active"><i class="sign fa fa-gears bg-green"></i>{% trans "Settings" %}</a>
          {% else %}
            <a href="{% url "merchants.views.merchant_settings" %}"><i class="sign fa fa-gears bg-green"></i>{% trans "Settings" %}</a>
          {% endif %}
        </li>
      </ul>
    </div>
    {% include "merchants/_registration_status_bar.html" %}
    <br/><br/>
    <a href="{% url 'promotional_material' %}">
      {% trans "Promotional Posters for Your Business" %}
    </a>
  </div>
