{% load staticfiles %}
{% load i18n %}
<div class="container">
  <div class="page-header">
    <h3 class="pull-left">{% trans "Admin" %}</h1>
    <h3 class="pull-right hidden-md hidden-lg">
      <div class="btn-group">
        {% if current_tab == 'transactions' %}
          <button data-toggle="dropdown" class="btn dropdown-toggle" style="color:white;">Transactions <span class="caret"></span></button>
        {% endif %}
        {% if current_tab == 'settings' %}
          <button data-toggle="dropdown" class="btn dropdown-toggle" style="color:white;">Settings <span class="caret"></span></button>
        {% endif %}
        {% if current_tab == 'profile' %}
          <button data-toggle="dropdown" class="btn dropdown-toggle" style="color:white;">Profile <span class="caret"></span></button>
        {% endif %}

        <ul class="dropdown-menu">
            <li><a href="{% url "merchants.views.merchant_transactions" %}">Transactions</a></li>
            <li><a href="{% url "merchants.views.merchant_settings" %}">Settings</a></li>
            <li><a href="{% url "merchants.views.merchant_profile" %}">Profile</a></li>
          </ul>
      </div>

    </h3>
  <div class="clearfix"></div>
</div>

<div class="row">
  <div class="col-sm-4 col-md-3 hidden-sm hidden-xs">
    <div class="user-menu bottom-15">
      <ul>
        <li>
          {% if current_tab == 'transactions' %}
            <a href="#" class="active"><i class="sign fa fa-bitcoin bg-amethyst"></i>{% trans "Transactions" %} <i class="fa fa-chevron-right pull-right"></i></a>  
          {% else %}
            <a href="{% url "merchants.views.merchant_transactions" %}"><i class="sign fa fa-bitcoin bg-amethyst"></i> {% trans "Transactions" %} <i class="fa fa-chevron-right pull-right"></i></a>  
          {% endif %}
        </li>
        <li>
          {% if current_tab == 'settings' %}
            <a href="#" class="active"><i class="sign fa fa-gears bg-green"></i>{% trans "Settings" %} <i class="fa fa-chevron-right pull-right"></i></a>
          {% else %}
            <a href="{% url "merchants.views.merchant_settings" %}"><i class="sign fa fa-gears bg-green"></i>{% trans "Settings" %} <i class="fa fa-chevron-right pull-right"></i></a>
          {% endif %}
        </li>
        <li>
          {% if current_tab == 'profile' %}
            <a href="#" class="active"><i class="sign fa fa-user bg-blue"></i>{% trans "Profile" %} <i class="fa fa-chevron-right pull-right"></i></a>
          {% else %}
            <a href="{% url "merchants.views.merchant_profile" %}"><i class="sign fa fa-user bg-blue"></i>{% trans "Profile" %} <i class="fa fa-chevron-right pull-right"></i></a>
          {% endif %}
        </li>
      </ul>

    </div>
    <strong>{% trans "API Partners (New)" %}</strong>
    <div class="user-menu bottom-15">
      <ul>
        <li>
          {% if current_tab == 'coinbase' %}
            <a href="#" class="active">
              <img src="{% static "img/coinbase-logo-full.png" %}" />
              {% if merchant.has_valid_coinbase_credentials %}
                <i class="fa fa-circle pull-right text-green" style="margin-top: 13px;"></i>
              {% else %}
                <i class="fa fa-circle pull-right text-red" style="margin-top: 13px;"></i>
              {% endif %}
            </a>
          {% else %}
            <a href="{% url "coinbase.views.coinbase" %}">
              <img src="{% static "img/coinbase-logo-full.png" %}" />
              {% if merchant.has_valid_coinbase_credentials %}
                <i class="fa fa-circle pull-right text-green" style="margin-top: 13px;"></i>
              {% else %}
                <i class="fa fa-circle pull-right text-red" style="margin-top: 13px;"></i>
              {% endif %}
            </a>
          {% endif %}
        </li>
      </ul>

    </div>
    {% include "merchants/_registration_status_bar.html" %}
  </div>
