{% load i18n %}
<div class="page-header">
  <h1>{% trans "Admin" %}</h1>
</div>

<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="user-menu bottom-15">
      <ul>
        <li>
          {% if current_tab == 'transactions' %}
            <a href="#" class="active"><i class="sign fa fa-bitcoin bg-amethyst"></i>{% trans "Transactions" %} <i class="fa fa-chevron-right pull-right"></i></a>  
          {% else %}
            <a href="{% url "merchants.views.merchant_transactions" %}"><i class="sign fa fa-bitcoin bg-amethyst"></i> {% trans "Transactions" %} <i class="fa fa-chevron-right pull-right"></i></a>  
          {% endif %}
        </li>
        <li>
          {% if current_tab == 'settings' %}
            <a href="#" class="active"><i class="sign fa fa-gears bg-green"></i>{% trans "Settings" %} <i class="fa fa-chevron-right pull-right"></i></a>
          {% else %}
            <a href="{% url "merchants.views.merchant_settings" %}"><i class="sign fa fa-gears bg-green"></i>{% trans "Settings" %} <i class="fa fa-chevron-right pull-right"></i></a>
          {% endif %}
        </li>
        <li>
          {% if current_tab == 'profile' %}
            <a href="#" class="active"><i class="sign fa fa-user bg-blue"></i>{% trans "Profile" %} <i class="fa fa-chevron-right pull-right"></i></a>
          {% else %}
            <a href="{% url "merchants.views.merchant_profile" %}"><i class="sign fa fa-user bg-blue"></i>{% trans "Profile" %} <i class="fa fa-chevron-right pull-right"></i></a>
          {% endif %}
        </li>
      </ul>
    </div>
    {% include "merchants/_registration_status_bar.html" %}
  </div>
