{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container">
    <!-- Profile Menu -->
  {% include "merchants/breadcrumb.html" %}
  <div class="col-sm-12 col-xs-12 col-md-9">

      <div class="row">
        <div class="col-sm-12">
          <h4 class="hl">
            <p>
              {% trans "Admin Page: Please confirm your password" %}
            </p>
          </h4>
          <form class="form-horizontal" method="post" action="{% url "merchants.views.password_prompt" %}" >
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            {% csrf_token %}
            <div class="button-wrapper">
              <button type="submit" class="btn btn-primary btn-lg">{% trans "Confirm Password" %}</button>
            </div>
          </form>

          
          
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
{% block extra_js %}
  <script>
    $(document).ready(function(){
      $('#id_password').focus();
    });

  </script>
{% endblock %}