{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <!-- Profile Menu -->
  {% with current_tab='profile' %}
    {% include "merchants/breadcrumb.html" %}
  {% endwith %}
  <div class="col-sm-12 col-xs-12 col-md-9">

      <div class="row">
        <div class="col-sm-12">
          <h4 class="hl">
            <a style="color:#515151;" href="#">{% trans "Business Info" %}</a>
            <a href="#" onclick="editMerchantInfo();" id="merchant-info-edit-button" style="float:right;">{% trans "Edit" %} <i class="fa fa-pencil-square-o"></i></a>
          </h4>
          <table id="merchant-info-list" class="table">
            <tbody>
              <tr>
                <td class="text-muted">{% trans "Business Name" %}</td>
                <td align="right">{{merchant.business_name}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Address Line 1" %}</td>
                <td align="right">{{merchant.address_1|default_if_none:''}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Address Line 2" %}</td>
                <td align="right">{{merchant.address_2|default_if_none:''}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "City" %}</td>
                <td align="right">{{merchant.city|default_if_none:''}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "State" %}</td>
                <td align="right">{{merchant.state|default_if_none:''}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Country" %}</td>
                <td align="right">{{merchant.get_country_display}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Zip Code" %}</td>
                <td align="right">{{merchant.zip_code|default_if_none:''}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Phone Number" %}</td>
                <td align="right">{{merchant.phone_num.as_international}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Website (URL)" %}</td>
                <td align="right">{{merchant.get_website.url }}</td>
              </tr>
            </tbody>
          </table>
          <span class="hidden" id="merchant-info-edit">
            <form class="form-horizontal" method="post" action="{% url "merchants.views.edit_merchant_info" %}" >
              {% load crispy_forms_tags %}
              {{ merchant_form|crispy }}
              {% csrf_token %}
              <div class="button-wrapper">
                <button type="submit" class="btn btn-primary btn-lg">{% trans "Save Changes" %}</button>
              </div>
            </form>
          </span>
        </div>
      </div>

      {% comment %}
      <div class="row">
        <div class="col-sm-12">
          <h4 class="hl">
            <a style="color:#515151;" href="#">{% trans "Business Hours"%}</a>
            <a href="#" onclick="editHoursInfo();" id="hours-info-edit-button" style="float:right;">{% trans "Edit" %} <i class="fa fa-pencil-square-o"></i></a>
          </h4>
          <table id="hours-info-list" class="table">
            <tbody>
              <tr>
                <td class="text-muted">{% trans "Monday" %}</td>
                <td align="right">{{biz_hours.1.from_time}} - {{biz_hours.1.to_time}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Tuesday" %}</td>
                <td align="right">{{biz_hours.2.from_time}} - {{biz_hours.2.to_time}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Wednesday" %}</td>
                <td align="right">{{biz_hours.3.from_time}} - {{biz_hours.3.to_time}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Thursday" %}</td>
                <td align="right">{{biz_hours.4.from_time}} - {{biz_hours.4.to_time}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Friday" %}</td>
                <td align="right">{{biz_hours.5.from_time}} - {{biz_hours.5.to_time}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Saturday" %}</td>
                <td align="right">{{biz_hours.6.from_time}} - {{biz_hours.6.to_time}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Sunday" %}</td>
                <td align="right">{{biz_hours.7.from_time}} - {{biz_hours.7.to_time}}</td>
              </tr>
            </tbody>
          </table>
          <span class="hidden" id="hours-info-edit">
            <form class="form-horizontal" method="post" action="{% url "merchants.views.edit_hours_info" %}" >
              {% load crispy_forms_tags %}
              {{ hours_form|crispy }}
              {% csrf_token %}
              <div class="button-wrapper">
                <button type="submit" class="btn btn-primary btn-lg">{% trans "Save Changes" %}</button>
              </div>
            </form>
          </span>
        </div>
      </div>
      {% endcomment %}

      <div class="row">
        <div class="col-sm-12">
          <h4 class="hl">
            <a style="color:#515151;" href="#">{% trans "Owner Info"%} <small>({% trans "Private - for Transaction Notifications"%})</small></a>
            <a href="#" onclick="editPersonalInfo();" id="personal-info-edit-button" style="float:right;">{% trans "Edit" %} <i class="fa fa-pencil-square-o"></i></a>
          </h4>
          <table id="personal-info-list" class="table">
            <tbody>
              <tr>
                <td class="text-muted">{% trans "Name" %}</td>
                <td align="right">{{user.full_name}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Email" %}</td>
                <td align="right">{{user.email}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Phone Number" %}</td>
                <td align="right">{{user.phone_num.as_international}}</td>
              </tr>
            </tbody>
          </table>
          <span class="hidden" id="personal-info-edit">
            <form class="form-horizontal" method="post" action="{% url "merchants.views.edit_personal_info" %}" >
              {% load crispy_forms_tags %}
              {{ personal_form|crispy }}
              {% csrf_token %}
              <div class="button-wrapper">
                <button type="submit" class="btn btn-primary btn-lg">{% trans "Save Changes" %}</button>
              </div>
            </form>
          </span>
        </div>
      </div>

    <div>
      <a href="{% url 'merchant_advertisements' %}">Download Bitcoin Posters for Your Business</a>
    </div>

    </div>
  </div>
</div>
{% endblock content %}

{% block admin_footer %}
  {% include "partials/admin_footer.html" %}
{% endblock admin_footer %}

{% block extra_js %}
  <script>
    function editPersonalInfo() {
        $("#personal-info-list").toggleClass("show hidden");
        $("#personal-info-edit").toggleClass("show hidden");
        var edit_button = $("#personal-info-edit-button");
        if (edit_button.text().replace(" ", "")=="Edit"){
          edit_button.text("Cancel");
        }else{
          edit_button.html('Edit <i class="fa fa-pencil-square-o"></i>');
        }
    }

    {% comment %}
    function editHoursInfo() {
        $("#hours-info-list").toggleClass("show hidden");
        $("#hours-info-edit").toggleClass("show hidden");
        var edit_button = $("#hours-info-edit-button");
        if (edit_button.text().replace(" ", "")=="Edit"){
          edit_button.text("Cancel");
        }else{
          edit_button.html('Edit <i class="fa fa-pencil-square-o"></i>');
        }
    }
    {% endcomment %}

    function editMerchantInfo() {
        $("#merchant-info-list").toggleClass("show hidden");
        $("#merchant-info-edit").toggleClass("show hidden");
        var edit_button = $("#merchant-info-edit-button");
        if (edit_button.text().replace(" ", "")=="Edit"){
          edit_button.text("Cancel");
        }else{
          edit_button.html('Edit <i class="fa fa-pencil-square-o"></i>');
        }
    }
  </script>
{% endblock %}
