{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <!-- Profile Menu -->
  {% with current_tab='profile' %}
    {% include "merchants/breadcrumb.html" %}
  {% endwith %}
  <div class="col-sm-12 col-xs-12 col-md-9">

      <div class="row">
        <div class="col-sm-6">

          <div class="body-inverse" style="float:left;">
            <div class="thumbnail">
              <div class="avatar">
                <a href="#" class="thumbnail bottom-15" data-toggle="modal" data-target="#upload-avatar">
                  <img src="{%static "img/mels_diner.png" %}"  alt="...">
                </a>
                <!-- Upload new avatar bubble -->
                <div class="avatar-bubble">
                  <a href="#" data-toggle="modal" data-target="#upload-avatar"><i class="fa fa-plus"></i> New Profile Picture</a>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="upload-avatar" tabindex="-1" role="dialog" aria-labelledby="upload-avatar-title" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="upload-avatar-title">Upload new avatar</h4>
                </div>
                <div class="modal-body">
                  <p>Please choose a file to upload. JPG, PNG, GIF only.</p>
                  <form role="form" action="{% url merchant_profile %}" method="post" enctype="multipart/form-data" >
                    {% load crispy_forms_tags %}
                    {{ form|crispy }}
                    {% csrf_token %}
                    <div class="button-wrapper">  
                      <button type="button" class="hl-btn hl-btn-default" data-dismiss="modal">Cancel</button>
                      <button type="button" class="hl-btn hl-btn-green" data-dismiss="modal">Upload</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div> 

        </div>
        <!-- End profile image -->
        <div class="col-sm-6">
          {% if merchant.get_profile_url %}
            <a class="btn btn-info btn-md" href="{{merchant.get_profile_url}}" style="transform: translateY(100%); float: right;">
                  {% trans "See Public Profile" %}
            </a>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">

          <h4 class="hl">
            <a style="color:#515151;">{% trans "Public Business Info" %}</a>
            <a onclick="editMerchantInfo();" id="merchant-info-edit-button" style="float:right; cursor: pointer;">{% trans "Edit" %} <i class="fa fa-pencil-square-o"></i></a>
          </h4>
          <table id="merchant-info-list" class="table">
            <tbody>
              <tr>
                <td class="text-muted">{% trans "Business Name" %}</td>
                <td align="right">{{merchant.business_name}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Business Address" %}</td>
                {% if merchant.address_1 %}
                  <td align="right">
                    {{merchant.get_physical_address_html | safe}}
                  </td>
                {% else %}
                  <td align="right" class="text-red">
                    <b>({% trans "Not Provided" %})</b>
                  </td>
                {% endif %}
              </tr>
              <tr>
                <td class="text-muted">{% trans "Phone Number" %}</td>
                {% if merchant.phone_num %}
                  <td align="right">
                    {{merchant.phone_num.as_international}}
                  </td>
                {% else %}
                  <td align="right" class="text-red">
                    <b>({% trans "Not Provided" %})</b>
                  </td>
                {% endif %}
              </tr>
              <tr>
                <td class="text-muted">{% trans "Website (URL)" %}</td>
                {% if merchant.get_website_obj %}
                  <td align="right">
                    {{merchant.get_website_obj.url }}
                  </td>
                {% else %}
                  <td align="right" class="text-red">
                    <b>({% trans "Not Provided" %})</b>
                  </td>
                {% endif %}
              </tr>
            </tbody>
          </table>
          <span class="hidden" id="merchant-info-edit">
            <form class="form-horizontal" method="post" action="{% url "merchants.views.edit_merchant_info" %}" >
              {% load crispy_forms_tags %}
              {{ merchant_form|crispy }}
              {% csrf_token %}
              <div class="button-wrapper">
                <button type="submit" class="btn btn-primary btn-lg">{% trans "Save Changes" %}</button>
              </div>
            </form>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h4 class="hl">
            <a style="color:#515151;">{% trans "Business Hours"%}</a>
            <a onclick="editHoursInfo();" id="hours-info-edit-button" style="float:right; cursor: pointer;">{% trans "Edit" %} <i class="fa fa-pencil-square-o"></i></a>
          </h4>
          <table id="hours-info-list" class="table">
            <tbody>
              {% if merchant.get_open_time %}
                <tr>
                  <td class="text-muted">{% trans "Monday" %}</td>
                  <td align="right">
                    {% if hours_form_initial.mon %}
                      {% if hours_form_initial.mon.closed %}
                        {% trans "Closed" %}
                      {% else %}
                        {{biz_hours.1.from_time}} - {{biz_hours.1.to_time}}
                      {% endif %}
                    {% else %}
                      <!-- {% trans "(Not Provided)" %} -->
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td class="text-muted">{% trans "Tuesday" %}</td>
                  <td align="right">
                    {% if hours_form_initial.tues %}
                      {% if hours_form_initial.tues.closed %}
                        {% trans "Closed" %}
                      {% else %}
                        {{biz_hours.2.from_time}} - {{biz_hours.2.to_time}}
                      {% endif %}
                    {% else %}
                      <!-- {% trans "(Not Provided)" %} -->
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td class="text-muted">{% trans "Wednesday" %}</td>
                  <td align="right">
                    {% if hours_form_initial.wed %}
                      {% if hours_form_initial.wed.closed %}
                        {% trans "Closed" %}
                      {% else %}
                        {{biz_hours.3.from_time}} - {{biz_hours.3.to_time}}
                      {% endif %}
                    {% else %}
                      <!-- {% trans "(Not Provided)" %} -->
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td class="text-muted">{% trans "Thursday" %}</td>
                  <td align="right">
                    {% if hours_form_initial.thurs %}
                      {% if hours_form_initial.thurs.closed %}
                        {% trans "Closed" %}
                      {% else %}
                        {{biz_hours.4.from_time}} - {{biz_hours.4.to_time}}
                      {% endif %}
                    {% else %}
                      <!-- {% trans "(Not Provided)" %} -->
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td class="text-muted">{% trans "Friday" %}</td>
                  <td align="right">
                    {% if hours_form_initial.fri %}
                      {% if hours_form_initial.fri.closed %}
                        {% trans "Closed" %}
                      {% else %}
                        {{biz_hours.5.from_time}} - {{biz_hours.5.to_time}}
                      {% endif %}
                    {% else %}
                      <!-- {% trans "(Not Provided)" %} -->
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td class="text-muted">{% trans "Saturday" %}</td>
                  <td align="right">
                    {% if hours_form_initial.sat %}
                      {% if hours_form_initial.sat.closed %}
                        {% trans "Closed" %}
                      {% else %}
                        {{biz_hours.6.from_time}} - {{biz_hours.6.to_time}}
                      {% endif %}
                    {% else %}
                      <!-- {% trans "(Not Provided)" %} -->
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td class="text-muted">{% trans "Sunday" %}</td>
                  <td align="right">
                    {% if hours_form_initial.sun %}
                      {% if hours_form_initial.sun.closed %}
                        {% trans "Closed" %}
                      {% else %}
                        {{biz_hours.7.from_time}} - {{biz_hours.7.to_time}}
                      {% endif %}
                    {% else %}
                      <!-- {% trans "(Not Provided)" %} -->
                    {% endif %}
                  </td>
                </tr>
              {% else %}
                <tr>
                  <td align="center" colspan="2" class="text-red"><b>({% trans "Not Provided" %})</b></td>
                </tr>
                <tr><td></td></tr>
              {% endif %}
            </tbody>
          </table>
          <span class="hidden" id="hours-info-edit">
            <form class="form-horizontal" method="post" action="{% url "merchants.views.edit_hours_info" %}" >
              <!-- {% load crispy_forms_tags %}
              {{ hours_form|crispy }} -->
              
              {% include "merchants/_hours_form.html" %}
              {% csrf_token %}
              <div class="button-wrapper">
                <button type="submit" class="btn btn-primary btn-lg">{% trans "Save Changes" %}</button>
              </div>
            </form>
          </span>
        </div>
      </div>

      {% comment %}
      <div class="row">
        <div class="col-sm-12">
          <h4 class="hl">
            <a style="color:#515151;" href="#">{% trans "Private Owner Info"%} <small>{% trans "(for Transaction Notifications)"%}</small></a>
            <a href="#" onclick="editPersonalInfo();" id="personal-info-edit-button" style="float:right;">{% trans "Edit" %} <i class="fa fa-pencil-square-o"></i></a>
          </h4>
          <table id="personal-info-list" class="table">
            <tbody>
              <tr>
                <td class="text-muted">{% trans "Name" %}</td>
                <td align="right">{{user.full_name}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Email" %}</td>
                <td align="right">{{user.email}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Phone Number" %}</td>
                <td align="right">{{user.phone_num.as_international}}</td>
              </tr>
            </tbody>
          </table>
          <span class="hidden" id="personal-info-edit">
            <form class="form-horizontal" method="post" action="{% url "merchants.views.edit_personal_info" %}" >
              {% load crispy_forms_tags %}
              {{ personal_form|crispy }}
              {% csrf_token %}
              <div class="button-wrapper">
                <button type="submit" class="btn btn-primary btn-lg">{% trans "Save Changes" %}</button>
              </div>
            </form>
          </span>
        </div>
      </div>
      {% endcomment %}

    <div>
      <a href="{% url 'promotional_material' %}">
        {% trans "Download Bitcoin Posters for Your Business" %}
      </a>
    </div>

    </div>
  </div>
</div>
{% endblock content %}

{% block admin_footer %}
  {% include "partials/admin_footer.html" %}
{% endblock admin_footer %}

{% block extra_js %}
  <script>
    function editPersonalInfo() {
        $("#personal-info-list").toggleClass("show hidden");
        $("#personal-info-edit").toggleClass("show hidden");
        var edit_button = $("#personal-info-edit-button");
        if (edit_button.text().replace(" ", "")=="Edit"){
          edit_button.text("Cancel");
        }else{
          edit_button.html('Edit <i class="fa fa-pencil-square-o"></i>');
        }
    }

    function editHoursInfo() {
        $("#hours-info-list").toggleClass("show hidden");
        $("#hours-info-edit").toggleClass("show hidden");
        var edit_button = $("#hours-info-edit-button");
        if (edit_button.text().replace(" ", "")=="Edit"){
          edit_button.text("Cancel");
        }else{
          edit_button.html('Edit <i class="fa fa-pencil-square-o"></i>');
        }
        //Handle initial hours form
        if ('{{hours_form_initial.mon}}'){
          if ('{{hours_form_initial.mon.closed}}'=='True'){
            $("#closed_mon").prop('checked', true);
            $('#mon_open').prop('disabled', 'disabled');
            $('#mon_close').prop('disabled', 'disabled');
          }else{
            var open = '{{hours_form_initial.mon.open}}';
            var close = '{{hours_form_initial.mon.close}}';
            $('#mon_open').val(open);
            $('#mon_close').val(close);
          }
        }
        if ('{{hours_form_initial.tues}}'){
          if ('{{hours_form_initial.tues.closed}}'=='True'){
            $("#closed_tues").prop('checked', true);
            $('#tues_open').prop('disabled', 'disabled');
            $('#tues_close').prop('disabled', 'disabled');
          }else{
            var open = '{{hours_form_initial.tues.open}}';
            var close = '{{hours_form_initial.tues.close}}';
            $('#tues_open').val(open);
            $('#tues_close').val(close);
          }
        }
        if ('{{hours_form_initial.wed}}'){
          if ('{{hours_form_initial.wed.closed}}'=='True'){
            $("#closed_wed").prop('checked', true);
            $('#wed_open').prop('disabled', 'disabled');
            $('#wed_close').prop('disabled', 'disabled');
          }else{
            var open = '{{hours_form_initial.wed.open}}';
            var close = '{{hours_form_initial.wed.close}}';
            $('#wed_open').val(open);
            $('#wed_close').val(close);
          }
        }
        if ('{{hours_form_initial.thurs}}'){
          if ('{{hours_form_initial.thurs.closed}}'=='True'){
            $("#closed_thurs").prop('checked', true);
            $('#thurs_open').prop('disabled', 'disabled');
            $('#thurs_close').prop('disabled', 'disabled');
          }else{
            var open = '{{hours_form_initial.thurs.open}}';
            var close = '{{hours_form_initial.thurs.close}}';
            $('#thurs_open').val(open);
            $('#thurs_close').val(close);
          }
        }
        if ('{{hours_form_initial.fri}}'){
          if ('{{hours_form_initial.fri.closed}}'=='True'){
            $("#closed_fri").prop('checked', true);
            $('#fri_open').prop('disabled', 'disabled');
            $('#fri_close').prop('disabled', 'disabled');
          }else{
            var open = '{{hours_form_initial.fri.open}}';
            var close = '{{hours_form_initial.fri.close}}';
            $('#fri_open').val(open);
            $('#fri_close').val(close);
          }
        }
        if ('{{hours_form_initial.sat}}'){
          if ('{{hours_form_initial.sat.closed}}'=='True'){
            $("#closed_sat").prop('checked', true);
            $('#sat_open').prop('disabled', 'disabled');
            $('#sat_close').prop('disabled', 'disabled');
          }else{
            var open = '{{hours_form_initial.sat.open}}';
            var close = '{{hours_form_initial.sat.close}}';
            $('#sat_open').val(open);
            $('#sat_close').val(close);
          }
        }
        if ('{{hours_form_initial.sun}}'){
          if ('{{hours_form_initial.sun.closed}}'=='True'){
            $("#closed_sun").prop('checked', true);
            $('#sun_open').prop('disabled', 'disabled');
            $('#sun_close').prop('disabled', 'disabled');
          }else{
            var open = '{{hours_form_initial.sun.open}}';
            var close = '{{hours_form_initial.sun.close}}';
            $('#sun_open').val(open);
            $('#sun_close').val(close);
          }
        }
    }

    function editMerchantInfo() {
        $("#merchant-info-list").toggleClass("show hidden");
        $("#merchant-info-edit").toggleClass("show hidden");
        var edit_button = $("#merchant-info-edit-button");
        if (edit_button.text().replace(" ", "")=="Edit"){
          edit_button.text("Cancel");
        }else{
          edit_button.html('Edit <i class="fa fa-pencil-square-o"></i>');
        }
    }

    $("#mon_open, #tues_open, #wed_open, #thurs_open, #fri_open, #sat_open, #sun_open").change(function(){
      var optionSelected = $("option:selected", this);
      var valueSelected = this.value;
      var time_selectors = [
        "#mon_open",
        "#tues_open",
        "#wed_open",
        "#thurs_open",
        "#fri_open",
        "#sat_open",
        "#sun_open"
      ];
      var closed_selectors = [
        "#closed_mon",
        "#closed_tues",
        "#closed_wed",
        "#closed_thurs",
        "#closed_fri",
        "#closed_sat",
        "#closed_sun"
      ];
      for (i = 0; i < time_selectors.length; i++){
        var value = $(time_selectors[i]).val();
        if (value == '-1'){
          if (! $(closed_selectors[i]).prop('checked')){
            $(time_selectors[i]).val(valueSelected);
          }
        }
      }
    });

    $("#mon_close, #tues_close, #wed_close, #thurs_close, #fri_close, #sat_close, #sun_close").change(function(){
      var optionSelected = $("option:selected", this);
      var valueSelected = this.value;
      var time_selectors = [
        "#mon_close",
        "#tues_close",
        "#wed_close",
        "#thurs_close",
        "#fri_close",
        "#sat_close",
        "#sun_close"
      ];
      var closed_selectors = [
        "#closed_mon",
        "#closed_tues",
        "#closed_wed",
        "#closed_thurs",
        "#closed_fri",
        "#closed_sat",
        "#closed_sun"
      ];
      for (i = 0; i < time_selectors.length; i++){
        var value = $(time_selectors[i]).val();
        if (value == '-1'){
          if (! $(closed_selectors[i]).prop('checked')){
            $(time_selectors[i]).val(valueSelected);
          }
        }
      }
    });

    $("#closed_mon, #closed_tues, #closed_wed, #closed_thurs, #closed_fri, #closed_sat, #closed_sun").change(function(){
      if (this.checked){
        var open_select = $(this).closest('td').next().find('select');
        var closed_select = open_select.closest('td').next().find('select');
        open_select.val('-1');
        open_select.prop('disabled', 'disabled');
        closed_select.val('-1');
        closed_select.prop('disabled', 'disabled');
      }else{
        var open_select = $(this).closest('td').next().find('select');
        var closed_select = open_select.closest('td').next().find('select');
        open_select.prop('disabled', null);
        closed_select.prop('disabled', null);
      }
    });



  </script>
{% endblock %}
