{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Register Business" %}{% endblock title %}

{% block content %}

<div class="section-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Remove the .animated class if you don't want things to move -->
        <h1 class="animated slideInLeft"><span></span></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="hl top-50">{% trans "Register Business" %}</h2>
      <hr>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-2">
    {% with current_step=0 %}
         {% include "merchants/_registration_breadcrumb.html" %}
    {% endwith %}
       <form class="form-horizontal" method="post" action="{% url "register_merchant" %}" >
           {% load crispy_forms_tags %}
           {{ form|crispy }}
           {% csrf_token %}
           <div class="button-wrapper">
             <button type="submit" class="btn btn-primary btn-lg">{% trans "Create Account" %}</button>
           </div>
       </form>

       <br />
       <p class="lead">
         {% url 'register_customer' as rc_url %}
         {% blocktrans %}
           To register as an individual customer (not a business) please
           <a href="{{ rc_url }}">click here</a>.
         {% endblocktrans %}
       </p>

  </div>
</div>

{% endblock content %}


{% block extra_js %}
  {% if form_valid == True %}


    <script>

      $(document).ready(function(){
        $('#id_email').focus();
        $.getJSON('https://freegeoip.net/json/', function(data) {
          var response = data;
          var country3 = country2_to_country3[response.country_code]
          $('#id_country').val(country3);
        });
        
      });
    </script>

  {% endif %}
{% endblock %}
