{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="page-header">
          <h3 class="pull-left">{% trans "Bitcoin Settings" %}</h3>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            {% with current_step=1 %}
                 {% include "merchants/_registration_breadcrumb.html" %}
            {% endwith %}
             <form class="form-horizontal" method="post" action="{% url "merchants.views.register_bitcoin" %}" >
                 {% load crispy_forms_tags %}
                 {{ form|crispy }}
                 {% csrf_token %}
                 <div class="button-wrapper">
                   <button type="submit" class="btn btn-primary btn-lg">{% trans "Complete Registration" %}</button>
                 </div>
             </form>
          </div>
    </div>
{% endblock content %}


{% block extra_js %}

     <script>

      {# http://stackoverflow.com/a/1408373/1754586 #}
      String.prototype.supplant = function (o) {
        return this.replace(/{([^{}]*)}/g,
          function (a, b) {
              var r = o[b];
              return typeof r === 'string' || typeof r === 'number' ? r : a;
          }
        );
      };

      var BASE_INSTRUCTIONS = '<div id="api_instructions"><p><a target="_blank" href="{0}">Click here for {1} API instructions</a></p></div>';
      var CB_INSTRUCTIONS = BASE_INSTRUCTIONS.supplant(['{% url "coinbase_instructions" %}', 'Coinbase']);
      var BS_INSTRUCTIONS = BASE_INSTRUCTIONS.supplant(['{% url "bitstamp_instructions" %}', 'Bitstamp']);
      var BCI_INSTRUCTIONS = BASE_INSTRUCTIONS.supplant(['{% url "blockchain_instructions" %}', 'Blockchain']);

      function selectCoinbase() {
        $("#div_id_cb_api_key").removeClass("hidden");
        $("#div_id_cb_secret_key").removeClass("hidden");

        $("#div_id_bs_api_key").addClass("hidden");
        $("#div_id_bs_secret_key").addClass("hidden");
        $("#div_id_bs_customer_id").addClass("hidden");

        $("#div_id_bci_main_password").addClass("hidden");
        $("#div_id_bci_second_password").addClass("hidden");
        $("#div_id_bci_username").addClass("hidden");

        $("#div_id_btc_address").addClass("hidden");

        $("#api_instructions").remove();
        $("#div_id_exchange_choice").after(CB_INSTRUCTIONS);
      }

      function selectBitstamp() {
        $("#div_id_cb_api_key").addClass("hidden");
        $("#div_id_cb_secret_key").addClass("hidden");

        $("#div_id_bs_api_key").removeClass("hidden");
        $("#div_id_bs_secret_key").removeClass("hidden");
        $("#div_id_bs_customer_id").removeClass("hidden");

        $("#div_id_bci_main_password").addClass("hidden");
        $("#div_id_bci_second_password").addClass("hidden");
        $("#div_id_bci_username").addClass("hidden");

        $("#div_id_btc_address").addClass("hidden");

        $("#api_instructions").remove();
        $("#div_id_exchange_choice").after(BS_INSTRUCTIONS);
      }

      function selectBlockchain() {
        $("#div_id_cb_api_key").addClass("hidden");
        $("#div_id_cb_secret_key").addClass("hidden");

        $("#div_id_bs_api_key").addClass("hidden");
        $("#div_id_bs_secret_key").addClass("hidden");
        $("#div_id_bs_customer_id").addClass("hidden");

        $("#div_id_bci_main_password").removeClass("hidden");
        $("#div_id_bci_second_password").removeClass("hidden");
        $("#div_id_bci_username").removeClass("hidden");

        $("#div_id_btc_address").addClass("hidden");

        $("#api_instructions").remove();
        $("#div_id_exchange_choice").after(BCI_INSTRUCTIONS);
      }

      function selectSelfManaged() {
        $("#div_id_cb_api_key").addClass("hidden");
        $("#div_id_cb_secret_key").addClass("hidden");

        $("#div_id_bs_api_key").addClass("hidden");
        $("#div_id_bs_secret_key").addClass("hidden");
        $("#div_id_bs_customer_id").addClass("hidden");

        $("#div_id_bci_main_password").addClass("hidden");
        $("#div_id_bci_second_password").addClass("hidden");
        $("#div_id_bci_username").addClass("hidden");

        $("#div_id_btc_address").removeClass("hidden");

        $("#api_instructions").remove();
      }

      $("#id_exchange_choice_1, #id_exchange_choice_2, #id_exchange_choice_3, #id_exchange_choice_4").change(function(){
           if ($('input[name=exchange_choice]:checked').val() == 'coinbase') {
                selectCoinbase();
           }else if ($('input[name=exchange_choice]:checked').val() == 'bitstamp'){
                selectBitstamp();
           }else if ($('input[name=exchange_choice]:checked').val() == 'blockchain') {
                selectBlockchain();
           }else if ($('input[name=exchange_choice]:checked').val() == 'selfmanaged'){
                selectSelfManaged();
           }
      });

      
      $(document).ready(function(){
          var required_asterisk = '<span class="asteriskField">*</span>';
          $('label:not(.requiredField):not(.radio)').append(required_asterisk);
          // blockchain second password not required 
          $('#div_id_bci_second_password .asteriskField').remove();
          
          if ($('input[name=exchange_choice]:checked').val() == 'coinbase') {
               selectCoinbase();
          }else if ($('input[name=exchange_choice]:checked').val() == 'bitstamp') {
               selectBitstamp();
          }else if ($('input[name=exchange_choice]:checked').val() == 'blockchain') {
               selectBlockchain();
          }else if ($('input[name=exchange_choice]:checked').val() == 'selfmanaged') {
               selectSelfManaged();
          }
      });
     </script>

{% endblock %}
