{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="page-header">
          <h3 class="pull-left">{% trans "Register Account" %}</h3>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-8 col-md-offset-2">
          {% with current_step=0 %}
               {% include "merchants/_registration_breadcrumb.html" %}
          {% endwith %}
             <form class="form-horizontal" method="post" action="{% url "merchants.views.register_merchant" %}" >
                 {% load crispy_forms_tags %}
                 {{ form|crispy }}
                 {% csrf_token %}
                 <div class="button-wrapper">
                   <button type="submit" class="btn btn-primary btn-lg">{% trans "Submit" %}</button>
                 </div>
             </form>
          </div>
    </div>
{% endblock content %}


{% block extra_js %}
  {% if form_valid == True %}

    <script>
      $(document).ready(function(){
        $('#id_email').focus();
      });
    </script>

    <script>
      $(document).ready(function(){
        {# Copied 2014-06-04 from www.nationsonline.org/oneworld/country_code_list.htm #}
        var country2_to_country3 = {
          'AF': 'AFG',
          'AX': 'ALA',
          'AL': 'ALB',
          'DZ': 'DZA',
          'AS': 'ASM',
          'AD': 'AND',
          'AO': 'AGO',
          'AI': 'AIA',
          'AQ': 'ATA',
          'AG': 'ATG',
          'AR': 'ARG',
          'AM': 'ARM',
          'AW': 'ABW',
          'AU': 'AUS',
          'AT': 'AUT',
          'AZ': 'AZE',
          'BS': 'BHS',
          'BH': 'BHR',
          'BD': 'BGD',
          'BB': 'BRB',
          'BY': 'BLR',
          'BE': 'BEL',
          'BZ': 'BLZ',
          'BJ': 'BEN',
          'BM': 'BMU',
          'BT': 'BTN',
          'BO': 'BOL',
          'BA': 'BIH',
          'BW': 'BWA',
          'BV': 'BVT',
          'BR': 'BRA',
          'VG': 'VGB',
          'IO': 'IOT',
          'BN': 'BRN',
          'BG': 'BGR',
          'BF': 'BFA',
          'BI': 'BDI',
          'KH': 'KHM',
          'CM': 'CMR',
          'CA': 'CAN',
          'CV': 'CPV',
          'KY': 'CYM',
          'CF': 'CAF',
          'TD': 'TCD',
          'CL': 'CHL',
          'CN': 'CHN',
          'HK': 'HKG',
          'MO': 'MAC',
          'CX': 'CXR',
          'CC': 'CCK',
          'CO': 'COL',
          'KM': 'COM',
          'CG': 'COG',
          'CD': 'COD',
          'CK': 'COK',
          'CR': 'CRI',
          'CI': 'CIV',
          'HR': 'HRV',
          'CU': 'CUB',
          'CY': 'CYP',
          'CZ': 'CZE',
          'DK': 'DNK',
          'DJ': 'DJI',
          'DM': 'DMA',
          'DO': 'DOM',
          'EC': 'ECU',
          'EG': 'EGY',
          'SV': 'SLV',
          'GQ': 'GNQ',
          'ER': 'ERI',
          'EE': 'EST',
          'ET': 'ETH',
          'FK': 'FLK',
          'FO': 'FRO',
          'FJ': 'FJI',
          'FI': 'FIN',
          'FR': 'FRA',
          'GF': 'GUF',
          'PF': 'PYF',
          'TF': 'ATF',
          'GA': 'GAB',
          'GM': 'GMB',
          'GE': 'GEO',
          'DE': 'DEU',
          'GH': 'GHA',
          'GI': 'GIB',
          'GR': 'GRC',
          'GL': 'GRL',
          'GD': 'GRD',
          'GP': 'GLP',
          'GU': 'GUM',
          'GT': 'GTM',
          'GG': 'GGY',
          'GN': 'GIN',
          'GW': 'GNB',
          'GY': 'GUY',
          'HT': 'HTI',
          'HM': 'HMD',
          'VA': 'VAT',
          'HN': 'HND',
          'HU': 'HUN',
          'IS': 'ISL',
          'IN': 'IND',
          'ID': 'IDN',
          'IR': 'IRN',
          'IQ': 'IRQ',
          'IE': 'IRL',
          'IM': 'IMN',
          'IL': 'ISR',
          'IT': 'ITA',
          'JM': 'JAM',
          'JP': 'JPN',
          'JE': 'JEY',
          'JO': 'JOR',
          'KZ': 'KAZ',
          'KE': 'KEN',
          'KI': 'KIR',
          'KP': 'PRK',
          'KR': 'KOR',
          'KW': 'KWT',
          'KG': 'KGZ',
          'LA': 'LAO',
          'LV': 'LVA',
          'LB': 'LBN',
          'LS': 'LSO',
          'LR': 'LBR',
          'LY': 'LBY',
          'LI': 'LIE',
          'LT': 'LTU',
          'LU': 'LUX',
          'MK': 'MKD',
          'MG': 'MDG',
          'MW': 'MWI',
          'MY': 'MYS',
          'MV': 'MDV',
          'ML': 'MLI',
          'MT': 'MLT',
          'MH': 'MHL',
          'MQ': 'MTQ',
          'MR': 'MRT',
          'MU': 'MUS',
          'YT': 'MYT',
          'MX': 'MEX',
          'FM': 'FSM',
          'MD': 'MDA',
          'MC': 'MCO',
          'MN': 'MNG',
          'ME': 'MNE',
          'MS': 'MSR',
          'MA': 'MAR',
          'MZ': 'MOZ',
          'MM': 'MMR',
          'NA': 'NAM',
          'NR': 'NRU',
          'NP': 'NPL',
          'NL': 'NLD',
          'AN': 'ANT',
          'NC': 'NCL',
          'NZ': 'NZL',
          'NI': 'NIC',
          'NE': 'NER',
          'NG': 'NGA',
          'NU': 'NIU',
          'NF': 'NFK',
          'MP': 'MNP',
          'NO': 'NOR',
          'OM': 'OMN',
          'PK': 'PAK',
          'PW': 'PLW',
          'PS': 'PSE',
          'PA': 'PAN',
          'PG': 'PNG',
          'PY': 'PRY',
          'PE': 'PER',
          'PH': 'PHL',
          'PN': 'PCN',
          'PL': 'POL',
          'PT': 'PRT',
          'PR': 'PRI',
          'QA': 'QAT',
          'RE': 'REU',
          'RO': 'ROU',
          'RU': 'RUS',
          'RW': 'RWA',
          'BL': 'BLM',
          'SH': 'SHN',
          'KN': 'KNA',
          'LC': 'LCA',
          'MF': 'MAF',
          'PM': 'SPM',
          'VC': 'VCT',
          'WS': 'WSM',
          'SM': 'SMR',
          'ST': 'STP',
          'SA': 'SAU',
          'SN': 'SEN',
          'RS': 'SRB',
          'SC': 'SYC',
          'SL': 'SLE',
          'SG': 'SGP',
          'SK': 'SVK',
          'SI': 'SVN',
          'SB': 'SLB',
          'SO': 'SOM',
          'ZA': 'ZAF',
          'GS': 'SGS',
          'SS': 'SSD',
          'ES': 'ESP',
          'LK': 'LKA',
          'SD': 'SDN',
          'SR': 'SUR',
          'SJ': 'SJM',
          'SZ': 'SWZ',
          'SE': 'SWE',
          'CH': 'CHE',
          'SY': 'SYR',
          'TW': 'TWN',
          'TJ': 'TJK',
          'TZ': 'TZA',
          'TH': 'THA',
          'TL': 'TLS',
          'TG': 'TGO',
          'TK': 'TKL',
          'TO': 'TON',
          'TT': 'TTO',
          'TN': 'TUN',
          'TR': 'TUR',
          'TM': 'TKM',
          'TC': 'TCA',
          'TV': 'TUV',
          'UG': 'UGA',
          'UA': 'UKR',
          'AE': 'ARE',
          'GB': 'GBR',
          'US': 'USA',
          'UM': 'UMI',
          'UY': 'URY',
          'UZ': 'UZB',
          'VU': 'VUT',
          'VE': 'VEN',
          'VN': 'VNM',
          'VI': 'VIR',
          'WF': 'WLF',
          'EH': 'ESH',
          'YE': 'YEM',
          'ZM': 'ZMB',
          'ZW': 'ZWE',
        };

        {# Copied 2014-06-04 from http://www.likeforex.com/misc/country-currency.php #}
        var country3_to_currency3 = {
          'AFG': 'AFN',
          'ALB': 'ALL',
          'DZA': 'DZD',
          'ASM': 'USD',
          'AND': 'EUR',
          'AGO': 'AOA',
          'AIA': 'XCD',
          'ATG': 'XCD',
          'ARG': 'ARS',
          'ARM': 'AMD',
          'ABW': 'AWG',
          'AUS': 'AUD',
          'AUT': 'EUR',
          'AZE': 'AZN',
          'BHS': 'BSD',
          'BHR': 'BHD',
          'BGD': 'BDT',
          'BRB': 'BBD',
          'BLR': 'BYR',
          'BEL': 'EUR',
          'BLZ': 'BZD',
          'BEN': 'XOF',
          'BMU': 'BMD',
          'BTN': 'INR',
          'BOL': 'BOB',
          'BES': 'USD',
          'BIH': 'BAM',
          'BWA': 'BWP',
          'BVT': 'NOK',
          'BRA': 'BRL',
          'IOT': 'USD',
          'BRN': 'BND',
          'BGR': 'BGN',
          'BFA': 'XOF',
          'BDI': 'BIF',
          'KHM': 'KHR',
          'CMR': 'XAF',
          'CAN': 'CAD',
          'CPV': 'CVE',
          'CYM': 'KYD',
          'CAF': 'XAF',
          'TCD': 'XAF',
          'CHL': 'CLP',
          'CHN': 'CNY',
          'CXR': 'AUD',
          'CCK': 'AUD',
          'COL': 'COP',
          'COM': 'KMF',
          'COK': 'NZD',
          'CRI': 'CRC',
          'CIV': 'XOF',
          'HRV': 'HRK',
          'CUB': 'CUP',
          'CUW': 'ANG',
          'CYP': 'EUR',
          'CZE': 'CZK',
          'COD': 'CDF',
          'DNK': 'DKK',
          'DJI': 'DJF',
          'DMA': 'XCD',
          'DOM': 'DOP',
          'ECU': 'USD',
          'EGY': 'EGP',
          'SLV': 'SVC',
          'GNQ': 'XAF',
          'ERI': 'ERN',
          'EST': 'EUR',
          'ETH': 'ETB',
          'FLK': 'FKP',
          'FRO': 'DKK',
          'FJI': 'FJD',
          'FIN': 'EUR',
          'FRA': 'EUR',
          'GUF': 'EUR',
          'PYF': 'XPF',
          'ATF': 'EUR',
          'GAB': 'XAF',
          'GMB': 'GMD',
          'GEO': 'GEL',
          'DEU': 'EUR',
          'GHA': 'GHS',
          'GIB': 'GIP',
          'GRC': 'EUR',
          'GRL': 'DKK',
          'GRD': 'XCD',
          'GLP': 'EUR',
          'GUM': 'USD',
          'GTM': 'GTQ',
          'GGY': 'GBP',
          'GIN': 'GNF',
          'GNB': 'XOF',
          'GUY': 'GYD',
          'HTI': 'HTG',
          'HMD': 'AUD',
          'VAT': 'EUR',
          'HND': 'HNL',
          'HKG': 'HKD',
          'HUN': 'HUF',
          'ISL': 'ISK',
          'IND': 'INR',
          'IDN': 'IDR',
          'IRN': 'IRR',
          'IRQ': 'IQD',
          'IRL': 'EUR',
          'IMN': 'GBP',
          'ISR': 'ILS',
          'ITA': 'EUR',
          'JAM': 'JMD',
          'JPN': 'JPY',
          'JEY': 'GBP',
          'JOR': 'JOD',
          'KAZ': 'KZT',
          'KEN': 'KES',
          'KIR': 'AUD',
          'PRK': 'KPW',
          'KOR': 'KRW',
          'KWT': 'KWD',
          'KGZ': 'KGS',
          'LAO': 'LAK',
          'LVA': 'LVL',
          'LBN': 'LBP',
          'LSO': 'LSL',
          'LBR': 'LRD',
          'LBY': 'LYD',
          'LIE': 'CHF',
          'LTU': 'LTL',
          'LUX': 'EUR',
          'MAC': 'MOP',
          'MKD': 'MKD',
          'MDG': 'MGA',
          'MWI': 'MWK',
          'MYS': 'MYR',
          'MDV': 'MVR',
          'MLI': 'XOF',
          'MLT': 'EUR',
          'MHL': 'USD',
          'MTQ': 'EUR',
          'MRT': 'MRO',
          'MUS': 'MUR',
          'MYT': 'EUR',
          'MEX': 'MXN',
          'FSM': 'USD',
          'MDA': 'MDL',
          'MCO': 'EUR',
          'MNG': 'MNT',
          'MNE': 'EUR',
          'MSR': 'XCD',
          'MAR': 'MAD',
          'MOZ': 'MZN',
          'MMR': 'MMK',
          'NAM': 'NAD',
          'NRU': 'AUD',
          'NPL': 'NPR',
          'NLD': 'EUR',
          'NCL': 'XPF',
          'NZL': 'NZD',
          'NIC': 'NIO',
          'NER': 'XOF',
          'NGA': 'NGN',
          'NIU': 'NZD',
          'NFK': 'AUD',
          'MNP': 'USD',
          'NOR': 'NOK',
          'OMN': 'OMR',
          'PAK': 'PKR',
          'PLW': 'USD',
          'PAN': 'PAB',
          'PNG': 'PGK',
          'PRY': 'PYG',
          'PER': 'PEN',
          'PHL': 'PHP',
          'PCN': 'NZD',
          'POL': 'PLN',
          'PRT': 'EUR',
          'PRI': 'USD',
          'QAT': 'QAR',
          'COG': 'XAF',
          'REU': 'EUR',
          'ROU': 'RON',
          'RUS': 'RUB',
          'RWA': 'RWF',
          'SHN': 'SHP',
          'KNA': 'XCD',
          'LCA': 'XCD',
          'MAF': 'EUR',
          'SPM': 'EUR',
          'VCT': 'XCD',
          'WSM': 'WST',
          'SMR': 'EUR',
          'STP': 'STD',
          'SAU': 'SAR',
          'SEN': 'XOF',
          'SRB': 'RSD',
          'SYC': 'SCR',
          'SLE': 'SLL',
          'SGP': 'SGD',
          'SXM': 'ANG',
          'SVK': 'EUR',
          'SVN': 'EUR',
          'SLB': 'SBD',
          'SOM': 'SOS',
          'ZAF': 'ZAR',
          'ESP': 'EUR',
          'LKA': 'LKR',
          'SDN': 'SDG',
          'SUR': 'SRD',
          'SJM': 'NOK',
          'SWZ': 'SZL',
          'SWE': 'SEK',
          'CHE': 'CHF',
          'SYR': 'SYP',
          'TWN': 'TWD',
          'TJK': 'TJS',
          'TZA': 'TZS',
          'THA': 'THB',
          'TLS': 'USD',
          'TGO': 'XOF',
          'TKL': 'NZD',
          'TON': 'TOP',
          'TTO': 'TTD',
          'TUN': 'TND',
          'TUR': 'TRY',
          'TKM': 'TMT',
          'TCA': 'USD',
          'TUV': 'AUD',
          'UGA': 'UGX',
          'UKR': 'UAH',
          'ARE': 'AED',
          'GBR': 'GBP',
          'USA': 'USD',
          'UMI': 'USD',
          'URY': 'UYU',
          'UZB': 'UZS',
          'VUT': 'VUV',
          'VEN': 'VEF',
          'VNM': 'VND',
          'VGB': 'USD',
          'VIR': 'USD',
          'WLF': 'XPF',
          'ESH': 'MAD',
          'YEM': 'YER',
          'ZMB': 'ZMK',
          'ZWE': 'ZWL',
        };
        

        $.getJSON('https://freegeoip.net/json/', function(data) {
          var response = data;
          var country3 = country2_to_country3[response.country_code]
          $('#id_country').val(country3);
          var currency3 = country3_to_currency3[country3];
          $('#id_currency_code').val(currency3);
        });

      });
    </script>

  {% endif %}
{% endblock %}
