{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {% trans "Your Free Bitcoin ATM App | Register | CoinSafe" %}
{% endblock title %}
{% block content %}
<div class="section-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Remove the .animated class if you don't want things to move -->
        <h1 class="animated slideInLeft"><span></span></h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="hl top-50">{% trans "Bitcoin Settings" %}</h2>
        <hr>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        {% with current_step=1 %}
             {% include "merchants/_registration_breadcrumb.html" %}
        {% endwith %}
          <p>
            {% blocktrans %}
              In order to sell bitcoin to customers, your will need to link a Bitcoin wallet to your CoinSafe account <a href="#" data-toggle="collapse" data-target="#moreinfo">(learn more)</a>.
            {% endblocktrans %}
          </p>

          <div id="moreinfo" class="collapse">
            <p>
              This wallet will be used to automatically transfer funds to your customers whenever you sell them Bitcoin. If you already have a Blockchain, Coinbase, or Bitstamp wallet, you can link it to your account by adding your API credentials below. We also can automatically create a new Blockchain wallet for you (a good option if you are just giving us a try).
            </p>
            <p>
              No funds will ever be moved from your wallet without your explicit permission (our app is and will continue to be free) and we take every precaution to secure this sensitive data. That being said, we recommend that all of our users create a separate wallet to use with CoinSafe that holds a smaller amount of funds that they can top off whenever the balance gets low.
            </p>
            <p>
              If you have any questions, please don't hesitate to <a href="{% url "contact" %}" target="_blank">contact us</a>.
            </p>
          </div>


         <form class="form-horizontal" method="post" action="{% url "merchants.views.register_bitcoin" %}" >
             {% load crispy_forms_tags %}
             {{ form|crispy }}
             {% csrf_token %}
             <div class="button-wrapper">
               <button type="submit" class="btn btn-primary btn-lg">{% trans "Complete Registration" %}</button>
             </div>
         </form>
      </div>
    </div>
{% endblock content %}


{% block extra_js %}

     <script>

      {# http://stackoverflow.com/a/1408373/1754586 #}
      String.prototype.supplant = function (o) {
        return this.replace(/{([^{}]*)}/g,
          function (a, b) {
              var r = o[b];
              return typeof r === 'string' || typeof r === 'number' ? r : a;
          }
        );
      };

      var BASE_INSTRUCTIONS = '<div id="api_instructions"><p><a target="_blank" href="{0}">Click here for {1} API instructions</a></p></div>';
      var CB_INSTRUCTIONS = BASE_INSTRUCTIONS.supplant(['{% url "coinbase_instructions" %}', 'Coinbase']);
      var BS_INSTRUCTIONS = BASE_INSTRUCTIONS.supplant(['{% url "bitstamp_instructions" %}', 'Bitstamp']);
      var BCI_INSTRUCTIONS = BASE_INSTRUCTIONS.supplant(['{% url "blockchain_instructions" %}', 'Blockchain']);

      function selectCoinbase() {
        $("#div_id_cb_api_key").removeClass("hidden");
        $("#div_id_cb_secret_key").removeClass("hidden");

        $("#div_id_bs_api_key").addClass("hidden");
        $("#div_id_bs_secret_key").addClass("hidden");
        $("#div_id_bs_customer_id").addClass("hidden");

        $("#div_id_bci_main_password").addClass("hidden");
        $("#div_id_bci_second_password").addClass("hidden");
        $("#div_id_bci_username").addClass("hidden");

        $("#div_id_btc_address").addClass("hidden");

        $("#api_instructions").remove();
        $("#div_id_exchange_choice").after(CB_INSTRUCTIONS);
      }

      function selectBitstamp() {
        $("#div_id_cb_api_key").addClass("hidden");
        $("#div_id_cb_secret_key").addClass("hidden");

        $("#div_id_bs_api_key").removeClass("hidden");
        $("#div_id_bs_secret_key").removeClass("hidden");
        $("#div_id_bs_customer_id").removeClass("hidden");

        $("#div_id_bci_main_password").addClass("hidden");
        $("#div_id_bci_second_password").addClass("hidden");
        $("#div_id_bci_username").addClass("hidden");

        $("#div_id_btc_address").addClass("hidden");

        $("#api_instructions").remove();
        $("#div_id_exchange_choice").after(BS_INSTRUCTIONS);
      }

      function selectBlockchain() {
        $("#div_id_cb_api_key").addClass("hidden");
        $("#div_id_cb_secret_key").addClass("hidden");

        $("#div_id_bs_api_key").addClass("hidden");
        $("#div_id_bs_secret_key").addClass("hidden");
        $("#div_id_bs_customer_id").addClass("hidden");

        $("#div_id_bci_main_password").removeClass("hidden");
        $("#div_id_bci_second_password").removeClass("hidden");
        $("#div_id_bci_username").removeClass("hidden");

        $("#div_id_btc_address").addClass("hidden");

        $("#api_instructions").remove();
        $("#div_id_exchange_choice").after(BCI_INSTRUCTIONS);
      }

      function selectNewWallet() {
        $("#div_id_cb_api_key").addClass("hidden");
        $("#div_id_cb_secret_key").addClass("hidden");

        $("#div_id_bs_api_key").addClass("hidden");
        $("#div_id_bs_secret_key").addClass("hidden");
        $("#div_id_bs_customer_id").addClass("hidden");

        $("#div_id_bci_main_password").addClass("hidden");
        $("#div_id_bci_second_password").addClass("hidden");
        $("#div_id_bci_username").addClass("hidden");

        $("#div_id_btc_address").addClass("hidden");
        $("#div_id_exchange_choice").addClass("hidden");

        $("#div_id_new_blockchain_password").removeClass("hidden");
        $("#div_id_new_blockchain_password_confirm").removeClass("hidden");

        $("#api_instructions").remove();
      }

      function selectExistingWallet() {
        if ($('input[name=exchange_choice]:checked').val() == 'coinbase') {
               selectCoinbase();
        }else if ($('input[name=exchange_choice]:checked').val() == 'bitstamp') {
             selectBitstamp();
        }else if ($('input[name=exchange_choice]:checked').val() == 'blockchain') {
             selectBlockchain();
        }
        $("#div_id_exchange_choice").removeClass("hidden");
        $("#div_id_new_blockchain_password").addClass("hidden");
        $("#div_id_new_blockchain_password_confirm").addClass("hidden");

        $("#api_instructions").add();
      }

      $("#id_wallet_type_choice_1, #id_wallet_type_choice_2").change(function(){
           if ($('input[name=wallet_type_choice]:checked').val() == 'new') {
                selectNewWallet();
           }else {
                selectExistingWallet();
           }
      });

      $("#id_exchange_choice_1, #id_exchange_choice_2, #id_exchange_choice_3, #id_exchange_choice_4").change(function(){
           if ($('input[name=exchange_choice]:checked').val() == 'coinbase') {
                selectCoinbase();
           }else if ($('input[name=exchange_choice]:checked').val() == 'bitstamp'){
                selectBitstamp();
           }else if ($('input[name=exchange_choice]:checked').val() == 'blockchain') {
                selectBlockchain();
           }
      });

      $(document).ready(function(){
          var required_asterisk = '<span class="asteriskField">*</span>';
          $('label:not(.requiredField):not(.radio)').append(required_asterisk);
          // blockchain second password not required 
          $('#div_id_bci_second_password .asteriskField').remove();
          if ($('input[name=wallet_type_choice]:checked').val() == 'new') {
            selectNewWallet();
          }else {
            selectExistingWallet();
          }

          $('#pass2').after('<span id="pw_message"></span>');
          $('#pass2').keyup(function () {

            // Store the password field objects into variables
            var pass1 = document.getElementById('pass1');
            var pass2 = document.getElementById('pass2');

            // Store the Confimation Message Object ...
            var message = document.getElementById('pw_message');

            // Reset the message
            message.innerHTML = '';

            if (pass1.value.length > 9 && pass1.value && pass2.value) {

              // Compare the values in the password field and confirmation fields
              if(pass1.value == pass2.value){
                message.innerHTML = '<i class="fa fa-check-circle-o"></i>Passwords Match'
                message.style.color = "#66cc66";
              }else{
                if((pass1.value.length - pass2.value.length) < 4){
                  // Only check password if it's "close"
                  message.style.color = "#ff6666";
                  message.innerHTML = '<i class="fa fa-exclamation-circle"></i>Passwords Do Not Match'
                }
              }
            }
          });

      });
     </script>

{% endblock %}
