{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <!-- Profile Menu -->
    {% with current_tab='settings' %}
      {% include "merchants/breadcrumb.html" %}
    {% endwith %}
  <div class="col-sm-12 col-xs-12 col-md-9">

      <div class="row">
        <div class="col-sm-12">
          <h4 class="hl">
            <a style="color:#515151;" href="#">{% trans "Bitcoin Settings" %}</a>
            <a href="#" onclick="editBitcoinInfo();" id="bitcoin-info-edit-button" style="float:right;">Edit <i class="fa fa-pencil-square-o"></i></a>
          </h4>

          <table id="bitcoin-info-list" class="table">
            <tbody>
              <tr>
                <td class="text-muted">{% trans "Currency" %}</td>
                <td align="right">{{merchant.get_currency_code_display}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Percent Markup" %}</td>
                <td align="right">{{merchant.get_percent_markup}}%</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Your BTC Address" %}</td>
                <td align="right">{{dest_address.b58_address}}</td>
              </tr>
            </tbody>
          </table>
          <span class="hidden" id="bitcoin-info-edit">
            <form class="form-horizontal" method="post" action="{% url "merchants.views.edit_bitcoin_info" %}" >
              {% load crispy_forms_tags %}
              {{ bitcoin_form|crispy }}
              {% csrf_token %}
              <div class="button-wrapper">
                <button type="submit" class="btn btn-primary btn-lg">{% trans "Save Changes" %}</button>
              </div>
            </form>
          </span>
        </div>
      </div>
    </div>
    </div>
    </div>
{% endblock content %}

{% block admin_footer %}
  {% include "partials/admin_footer.html" %}
{% endblock admin_footer %}

{% block extra_js %}
  <script>
    function editBitcoinInfo() {
        $("#bitcoin-info-list").toggleClass("show hidden");
        $("#bitcoin-info-edit").toggleClass("show hidden");
        var edit_button = $("#bitcoin-info-edit-button");
        if (edit_button.text().replace(" ", "")=="Edit"){
          edit_button.text("Cancel");
        }else{
          edit_button.html('Edit <i class="fa fa-pencil-square-o"></i>');
        }
    }
  </script>
{% endblock %}
