{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load app_extras %}

{% block content %}
  <div class="container">
    <!-- Profile Menu -->
    {% with current_tab='transactions' %}
      {% include "merchants/breadcrumb.html" %}
    {% endwith %}
  <div class="col-sm-12 col-xs-12 col-md-9">

        <h4 class="hl"><i class="fa fa-map-marker"></i> {% trans "Transactions" %}</h4>
          <table class="table table-condensed" style="border-collapse:collapse;">
            <thead>
              <tr>
                <th></th>
                <th>{% trans "When" %}</th>
                <th>{% trans "You Received" %}</th>
                <th class="hidden-xs">{% trans "Customer Received" %}</th>
                <th>{% trans "Status" %}</th>
              </tr>
            </thead>
          <tbody>
            {% if transactions %}
              {% for transaction in transactions %}
                <tr data-toggle="collapse" data-target="#row-{{transaction.id}}" class="accordion-toggle" style="cursor: pointer;">
                  <td>
                    <i class="fa fa-plus-square-o text-blue" style="font-size: 18px;cursor: pointer;">
                    </i>
                  </td>
                  <td class="hidden-xs">{{transaction.added_at|date:"M d, Y"}}</td>
                  <td class="hidden-sm hidden-md hidden-lg">{{transaction.added_at|date:"M d"}}</td>
                  {% if transaction.is_btc_purchase %}
                      <td>{{transaction.get_fiat_amount_formatted}}</td>
                      <td class="hidden-xs">{{transaction.format_satoshis_amount}}</td>
                  {% else %}
                      <td>{{transaction.format_satoshis_amount}}</td>
                      <td class="hidden-xs">{{transaction.get_fiat_amount_formatted}}</td>
                  {% endif %}
                  <td>
                    <a href="{{ transaction.get_transaction_url }}" target="_blank">{{transaction.get_status|format_status_string}}</a>
                  </td>
                </tr>
                {% include "customer_dash/_transaction_row.html" %}
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="5" style="text-align: center;">
                  {% trans "You have no transactions yet"%}.
                </td>
              </tr>
            {% endif %}
          </tbody>
          </table>
    </div>
    </div>
    </div>
{% endblock content %}

{% block admin_footer %}
  {% include "partials/admin_footer.html" %}
{% endblock admin_footer %}
