{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Forgot Password" %}{% endblock title %}

{% block content %}
<div class="section-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Remove the .animated class if you don't want things to move -->
        <h1 class="animated slideInLeft"><span></span></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="hl top-50">{% trans "Request New Password" %}</h2>
        <hr>
      </div>
    </div>

    {% if show_form %}

      <div class="col-md-8 col-md-offset-2">
          <form class="form-horizontal" method="post" action="{% url "users.views.request_new_password" %}" >
              {% load crispy_forms_tags %}
              {{ form|crispy }}
              {% csrf_token %}
              <div class="button-wrapper">
                <button type="submit" class="btn btn-primary btn-lg">{% trans "Email Password Reset" %}</button>
              </div>
          </form>

         <br />
         <br />
         <p>
           {% url 'login_request' as login_url %}
           {% blocktrans %}
             To login please
             <a href="{{ login_url }}">click here</a>.
           {% endblocktrans %}
         </p>

      </div>

    {% else %}
      <p>
        {% blocktrans with email_address=form.cleaned_data.email %}
          Password reset email sent to <b>{{ email_address }}</b>. Please check your email.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
          Can't find it?
          Our emails can sometimes take up to one minute to arrive.
          Please check your spam folder for a message from <b>support@coinsafe.com</b>.
        {% endblocktrans %}
      </p>
    {% endif %}

</div>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#id_email').select()
    });
  </script>

{% endblock %}

