{% load i18n %}
<div class="container">
  <div class="page-header">
      <h3 class="pull-left hl">{{merchant.business_name}}</h3>
      <h3 class="pull-right hl" id="last-polled" style="color: #72a53b; float:right;">
        {% trans "Bitcoin Received" %}
        </h3>
      <div class="clearfix"></div>
  </div>
  <span style="text-align: center; margin-top: 50px;">
    <div class="row">

      <div class="col-sm-12">
        <p class="lead text-center">
          <i class="fa fa-check-circle" style="color: #81D685;"></i>
            {% blocktrans with mbtc=current_address.get_btc_transactions_total_formatted shopper_name=shopper.name bci_addr_url=current_address.get_bci_addr_url %}
              The deposit of <b><a href="{{ bci_addr_url }}" target="_blank">{{mbtc}}</a></b> made by {{shopper_name}} has been received.
            {% endblocktrans %}

            <br/><br />

          {% blocktrans with shopper_name=shopper.name fiat=current_address.get_fiat_transactions_total_formatted %}
            Cashier: please pay {{shopper_name}} <b>{{fiat}}</b> immediately.
          {% endblocktrans %}
        </p>
      </div>

      <div class="row">
        <span style="margin-left: auto; margin-right: auto; display: block;">
          <form class="form-horizontal" method="post" action="{% url "merchant_complete_deposit" %}" >
            {% csrf_token %}
            <div class="button-wrapper">
              <button type="submit" class="btn btn-primary btn-lg">{% trans "I Have Paid The Customer" %}</button>
            </div>
          </form>

        </span>
      </div>
    </div>
  </span>
</div>
