{% load i18n %}
<div class="container">
  <div class="page-header">
      <h3 class="pull-left hl">{{merchant.business_name}}</h3>
      <h3 class="pull-right hl" id="last-polled" style="color: #72a53b; float:right;">
        {% trans "Bitcoin Received" %}
        </h3>
      <div class="clearfix"></div>
  </div>
  <span id='predeposit' style="text-align: center; margin-top: 50px;">
    <div class="row">
      <div class="col-sm-12">
        <p class="lead text-center">
          <i class="fa fa-check-circle" style="color: #81D685;"></i>
            {% blocktrans with mbtc=current_address.get_btc_transactions_total_formatted shopper_name=shopper.name b58_address=current_address.b58_address %}
              The deposit of <b>{{mbtc}}</b> made by {{shopper_name}} has been recieved
              (<a href="https://blockchain.info/address/{{ b58_address }}" target="_blank">verify</a>).
            {% endblocktrans %}

            <br/><br />

          {% blocktrans with shopper_name=shopper.name fiat=current_address.get_fiat_transactions_total_formatted %}
            Cashier: please pay {{shopper_name}} <b>{{fiat}}</b> immediately.
          {% endblocktrans %}
        </p>
      </div>

      <div class="row">
        <span style="margin-left: auto; margin-right: auto; display: block;">
          <a class="btn btn-primary btn-lg has-spinner" id="complete-transaction-button" onclick="completeTransaction();">
            <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span>
            {% trans "I Have Paid The Customer" %}
          </a>
        </span>
      </div>
      
    </div>
  </span>
</div>
