{% load i18n %}
<div class="container">
  <div class="page-header">
      <h3 class="pull-left hl">{{merchant.business_name}}</h3>
      {% if shopper %}
        <h3 class="pull-right hl" id="last-polled" style="color: #72a53b; float:right;">
          {% trans "Last Updated" %}: <span id='last-polled-time'>0</span> {% trans "seconds ago" %}
        </h3>
      {% endif %}
      <div class="clearfix"></div>
  </div>

  <div class="row">
    {% if not transactions %}
      <p class="lead text-center">{% trans "Waiting for customer's deposit to" %} <span style="color: #72a53b;">{{current_address.b58_address}}</span> <a style="cursor: pointer;" onclick="cancelAddress();">({% trans "Cancel" %})</a></p>
    {% endif %}
    {% if shopper %}
      <div class="col-sm-12">
        <br/>
          <h3><i class="fa fa-map-marker"></i>{% trans "Transaction" %}</h3>
          {% include "customer_dash/cash_out/_deposit_dash_table.html" %}
          <hr>
      </div>
    </div>
    <br/>
    <br />
    <p class="lead text-center text-red">
      {% trans "Cashier: <b>do not pay out cash</b> until CoinSafe notifies you that the customer's transaction has been confirmed by the bitcoin network." %}
    </p>
    <div style="text-align:center;">
      <a class="btn btn-primary btn-lg" id="override-confirmations" onclick="overrideConfirmationsModal();">
        {% trans "Override Required Confirmations?" %}
      </a>
    </div>
    {% include "customer_dash/cash_out/_override_confirmations_modal.html" %}
      <!-- <div class="row">
        <div class="col-sm-12">
          <h4 class="hl">{% trans "Shopper Information" %}</h4>
          <table class="table">
            <tbody>
              <tr>
                <td class="text-muted">{% trans "Name" %}</td>
                <td align="right">{{shopper.name}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Phone" %}</td>
                <td align="right">{{shopper.phone_num.as_international}}</td>
              </tr>
              <tr>
                <td class="text-muted">{% trans "Email" %}</td>
                <td align="right">{{shopper.email}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->

    {% else %}
      <p class="lead text-center">
        {% trans "Please enter a name for this order. If you'd like a receipt, please include an email and/or phone number." %}
      </p>
      <form class="form-horizontal" method="post" action="{% url "users.views.customer_dashboard" %}" >
          {% load crispy_forms_tags %}
          {{ shopper_form|crispy }}
          {% csrf_token %}
          <div class="button-wrapper">
            <button type="submit" class="btn btn-primary btn-lg">{% trans "Send Receipt" %}</button>
          </div>
      </form>
    {% endif %}
  </div>
</div>
